
<template name="aboutHeader">

<div class="subPageHeader">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-xl-3">
				<div class="logo xl-flex xl-flex-row xl-align-items-center xl-justify-content-space-between">
					<a href="/"><img src="/img/logo.svg" alt=""></a>
					<div class="info text-sm-center text-xl-left">
						<p>
							Northern Geotechnical<br>
							Engineering, Inc.<br>
							Terra Firma Testing<br>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-xl-9">
				{{>navRows}}
				{{>breadcrumbNav}}
			</div>
		</div>
	</div>
</div>
<div class="topAboutNav">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="topAboutNav">
					<li><a href="/about/company_bio">Company Bio</a></li>
					<li><a href="/about/mission">Mission</a></li>
					<li><a href="/about/code_of_ethics">Code of Ethics</a></li>
					<li><a href="/about/news">News & Upcoming Events</a></li>
					<li><a href="/about/pro_affiliations">Professional Affiliations</a></li>
					<li><a href="/about/client_reviews">Client Endorsements</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</template>

<template name="about_company_bio">
	

		<div class="container subPage">
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-6">
					<p>Northern Geotechnical Engineering, Inc. d.b.a. Terra Firma Testing (NGE-TFT) was incorporated in the State of Alaska following the merger of Northern Geotechnical Engineering and Terra Firma, Inc. on July 1, 2004.  Prior to the merger, Northern Geotechnical Engineering operated as a sole proprietorship, founded in 2000 by Mr. Keith F. Mobley, P.E., that focused on geotechnical engineering in cold regions.  Terra Firma, Inc. was established in 1998 by Mr. Ron J.P. Caron, C.E.T, as an Anchorage-based materials testing service certified to provide accredited laboratory materials testing, Construction Materials Testing, and Quality Assurance/Quality Control (QA/QC) services in the State of Alaska.  The successful incorporation of Northern Geotechnical Engineering and Terra Firma, Inc. (to form NGE-TFT) fused the talents and experiences of both companies to fill a niche-demand for value-based engineering and testing services in the Anchorage-area and across Alaska.   NGE-TFT’s continued success is reflected by the substantial company growth that has been realized since the 2004 merger.  NGE-TFT is and employee-owned company that operates out of its privately-owned headquarters facility located at 11301 Olive Lane in Anchorage, Alaska; from where NGE-TFT bases its professional engineering services, certified materials testing laboratory, field staging activities, and administrative offices.
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<img src="/img/about_a_img_1.jpg"/>
				</div>
				
			</div>
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12">
					<h2 class="subPageCenterCaption">“NGE-TFT was born from a desire to provide real-world, value-driven engineering and testing services to Alaskans as well as to establish an environment which...”</h2>
				</div>
			</div>
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-6">
					<img style="margin-bottom:1em;" src="/img/about_a_img_2.jpg"/>
					
				</div>
				<div class="col-xs-12 col-md-6">
					<p>NGE-TFT provides its expert engineering and testing service throughout Alaska and around the world.  This service is provided to civil/design engineering firms, general contractors, and local, state, tribal, and federal agencies. NGE-TFT’s core staff is comprised of accomplished engineers, geologists, and engineering technicians with a diverse range of talent and experience.  NGE-TFT’s staff is comprised entirely of Alaskan residents, and the majority of the senior staff have been with the company since its initial merger.  This translates to a workforce that is highly experienced and knowledgeable of local conditions, regulations, and clientele.  The current staff has worked together on a myriad of projects across Alaska and the staff has developed outstanding lines of internal communication, which enable the different members to function efficiently as a team.  NGE-TFT employees are required to build on their knowledge and skills through a combination of research, training, field work, and continuing education.  The current staff has built strong relationships with exploration and construction contractors statewide, and works together with client, contractor, city, state, tribal, and federal representatives to establish and refine project objectives and achieve them on schedule and within specified budget.
					</p>
				</div>
				
			</div>
		</div>
</template>

<template name="about_mission">

	

		<div class="container subPage">
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-6">
					<h2>Mission</h2>
					<p>Provide Alaskans, and the rest of the world, with an exceptional geoprofessional service and value by combining sound scientific principles and technical proficiency, with a unique fusion of common sense, real-world experience, and practical design.  Promote a workplace that emphasizes a professional work ethic, encourages employee individuality within a team concept, and which stimulates creativity, loyalty, professional growth, and personal satisfaction.  
					</p>
					<p>
						<h2>Core Values</h2>
						We advocate professionalism in all of its forms and embrace the following fundamental core values.  We make every effort to instill and integrate these core values in our employees as well as into our daily operations and business planning.
						<ul>
							<li>
								<strong>Safety - </strong>
								 Our employees are our most valuable assets.  Therefore, we strive to maintain a safe work environment through a combination of education, training, protocol, and positive reinforcement.  We are also dedicated to the safety of the people that we serve, and we consider safety at every stage of the design process and during the daily performance of our service.
							</li>
						</ul>
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<img src="/img/about_b_img_1.jpg"/>
				</div>
				
			</div>
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12">

				</div>
			</div>
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-6">
					<img src="/img/about_b_img_2.svg"/>
					
				</div>
				<div class="col-xs-12 col-md-6">
						<ul>
								<li>
									<strong>Integrity - </strong>
									We pride ourselves on the integrity of our employees, who understand the role that professional ethics and honesty play in the responsible and accountable performance of our service.  
								</li>
								<li>
									<strong>Respect - </strong>
									We maintain a high level of respect for our profession and the people that our service supports.  This includes a reverence for the laws, codes, and specifications which govern and shape the direction of our service, as well as an appreciation for the individuals and communities that our service affects. 
								</li>
								<li>
									<strong>Ingenuity – </strong>
									We encourage our employees to be innovative and to try and think “outside of the box” as often as possible, as this is frequently where the most practical and cost effective designs stem from.  Resourcefulness and inventiveness are often keys to success when operating in a unique, challenging, and unconventional setting such as Alaska.
								</li>
								<li>
									<strong>Reliability – </strong>
									Our existence as a company, and our continued success, are based heavily on our dependability and consistency, which have established our credibility with existing clients and within our industry, community, and profession.
								</li>
						</ul>
				</div>
				
			</div>
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-6">
					<p>
						<ul>
							<li>
								<strong>Quality - </strong>
								 Quality lies at the heart of everything that we do as a company.  From the calibrated accuracy and precision of our various laboratory and field equipment, to the proper performance of our standardized testing and inspection services.  We create tangible value for our clients by placing a high priority on quality.
							</li>
							<li>
								<strong>Commitment – </strong>
								 We are dedicated to providing our clients with the highest quality product possible, for the best value possible.  We are devoted to providing our employees with a safe and challenging (but rewarding) work environment. Finally, we are committed to the betterment of our community and our profession. 
							</li>
							<li>
								<strong>Work-life Balance – </strong>
								 We try to provide our employees with the flexibility to balance their personal lives and careers, as we have a strong belief that work should be (at the very most) the second most important thing in a person’s life.  This approach has proven to increase employee satisfaction, which in turn can result in increases in productivity, quality, employee retention, and ultimately client satisfaction.  
							</li>
							
						</ul>
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<img src="/img/about_b_img_3.jpg"/>
				</div>
				
			</div>
			<br/>
		</div>
</template>


<template name="about_code_of_ethics">
		<div class="container subPage">
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12">
					<img src="/img/etics.jpg">
				</div>
			
			</div>
		
			<br/>
		</div>
</template>

<template name="about">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-md-12 col-lg-12">
				<h2 class="subPageCenterCaption">ENGINEER AND ENGINEERING TECHNICIAN</h2>
			</div>

			<div class="col-md-12 col-lg-12">
				<br/>
				<br/>
				<h4 class="subPageCenterCaption">CODE OF ETHICS</h4>
			</div>
			<div class="col-md-12 col-lg-12">
				<br/>
				<br/>
				<h4 class="subPageCenterCaption">PREAMBLE</h4>
				<p>Engineering and materials testing are important and learned professions.  As members of these professions, Engineers and Engineering Technicians are expected to exhibit the highest standard of honesty and integrity.  Engineering and technical practices have a direct and vital impact on the quality of life for all people.  Accordingly, the services provided by Engineers and Engineering Technicians require honesty, impartiality, fairness, and equity, and must be dedicated to the protection of the public health, safety, and welfare.  Engineers and Engineering Technicians must perform under a standard of professional behavior that requires adherence to the highest principles of ethical conduct.</p>
			</div>
			<div class="col-md-12 col-lg-12">
				<br/>
				<br/>
				<h4 class="subPageCenterCaption">FUNDAMENTAL PRINCIPLES</h4>
				<p>
					Engineers and Engineering Technicians uphold and advance the integrity, honor, and dignity of the engineering and materials testing profession by:
				</p>
				<div class="col-md-12 col-lg-12">
					<ol>
						<li>using their knowledge and skill for the enhancement of human welfare;</li>
						<li>being honest and impartial and serving with fidelity the public, their employers, and clients;</li>
						<li>striving to increase the competence and prestige of the engineering and materials testing profession; and</li>
						<li>supporting the professional and technical societies who represent their professional disciplines.</li>
					</ol>
				</div>
			</div>
			<div class="col-md-12 col-lg-12">
				<br/>
				<br/>
				<h4 class="subPageCenterCaption">FUNDAMENTAL CANONS</h4>
				<div class="col-md-12 col-lg-12">
					<ol>
						<li>Engineers and Engineering Technicians shall hold paramount the safety, health, and welfare of the public in the performance of their professional duties.</li>
						<li>Engineers and Engineering Technicians shall perform services only in areas of their competence.</li>
						<li>Engineers and Engineering Technicians shall issue public statements only in a subjective and truthful manner.</li>
						<li>Engineers and Engineering Technicians shall act in professional matters for each employer or client as faithful agents or trustees, and shall avoid conflicts of interest.</li>
						<li>Engineers and Engineering Technicians shall build their professional reputation on the merit of their services and shall not compete unfairly with others.</li>
						<li>Engineers and Engineering Technicians shall act in such a manner as to uphold and enhance the honor, integrity, and dignity of the engineering and materials testing profession.</li>
						<li>Engineers and Engineering Technicians shall continue their professional development throughout their careers, and shall provide opportunities for the professional development of those engineers and technicians under their supervision.</li>
					</ol>
				</div>
				<br/>
			</div>
		</div>

		<br/>
	</div>
</template>

<template name="about_news">
	
		<div class="container subPage">
			{{#each newsItems}}
			<div class="container">
				<div class="row subPage md-flex md-flex-wrap newsItemRow">
					<div class="col-xs-12 col-md-9">
						<h2>{{headline}}</h2>
						<strong style="padding-bottom:.25em;">published {{datePublished}}</strong>
						<br/>
						<p>
							{{content}} <a class="about_news_readMore" href="#">continue reading article ..</a>
						</p>
					</div>
					<div class="col-xs-12 col-md-3">
						<div class=" about_news_image pull-right">
							<span class="pull-right"><img src="{{image}}" data-action="zoom"/>
							Click on image to enlarge</span>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			<br/>
		</div>
</template>

<template name="about_pro_affiliations">
	

		<div class="container subPage">
			{{#each proAffiliations}}
			{{#unless seperatorHeadline}}
				<div class="row subPage md-flex md-flex-wrap proAffiliationRow">
					<div class="col-xs-12 col-md-9">
					<h4>{{headline}}</h4>
						<p>
							{{content}}
						</p>
						{{#if subContent}}
							{{{subContent}}}
						{{/if}}
						{{#if link}}
						<p>
							Find more information at : <a href="{{link}}" rel="external">{{#if linkTitle}}{{linkTitle}}{{else}}{{link}}{{/if}}</a>
						</p>
						{{/if}}
					</div>
					<div class="col-xs-12 col-md-3">
						<img class="proAffilImg" src="{{image}}"/>
					</div>
				</div>
				<h1 style="border-bottom:solid green 3px;padding-top:.5em;margin-bottom:.5em;"></h1>

			{{else}}
				<div class="row subPage md-flex md-flex-wrap">
					<div class="col-xs-12">
						<h3 class="seperatorHeadline">{{seperatorHeadline}}</h3>
					</div>
				</div>
			{{/unless}}
			{{/each}}
		</div>
</template>

<template name="about_client_reviews">
	
		<div class="container subPage">
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-6">
					<p>
						<h3 style="text-align:left;">At NGE-TFT</h3>
						We pride ourselves on our customer service, and we continually try to make customer satisfaction our number one goal.  As a result, the majority of our new and incoming business comes directly from repeat customers, client referrals, contractor recommendations, and industry endorsements.  We are truly honored that our service has been so well received, and consider ourselves privileged to have such an outstanding client base.
						<br/>
						<br/>
						“Due to the complexity and size of our project, the right team was essential for success.  When it came to choosing my soils testing and engineering firm for this project, Northern Geotechnical Engineering & Terra Firma was the only soils professional team that I would consider.  Over the past 12 years, I have used most of the soils testing & engineering firms in Anchorage.  However, once I worked with NGE-TFT and their team of professionals, I have never considered another firm for my projects.”
					</p>
					<p>
						<strong>Greg Rumzey, Vice President</strong><br/>
						<strong>White Raven Development</strong><br/>
						<strong>Anchorage, Alaska</strong>

					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<br/>
					<h4>Listed below are some of our valued clients, industry partners, and community donors who have had something positive to say about our service over the years.   </h4>
					<br/>
					<ul class="clientEndorsementIndex">
					{{#each sampleClientIndex}}
						<li>
							<a href="#{{this}}">{{this}}</a>
						</li>
					{{/each}}
					</ul>
				</div>
				
			</div>
		</div>
		<div class="container subPage">
			{{#each sampleClientReviews}}
				{{#if content}}
				<a name="{{client}}"></a>
				<div class="row subPage md-flex md-flex-wrap proAffiliationRow">
					<div class="col-xs-12 col-md-12">
					<h4>{{client}}</h4>
					<h5>{{date}}</h5>
						<p>
							{{content}}
							{{#if link}}<a target="_blank" href="{{link}}">Continue reading...</a>{{/if}}
						</p>
					</div>
				
				</div>
				<h1 style="border-bottom:solid green 3px;padding:.5em 0;"></h1>
				{{/if}}
			
			{{/each}}
			<br/>
		</div>
</template>

<template name="index">
<body class="withShowcase">
	<div class="showcase">
		<div class="container">
			{{>header}}
			{{>slideShow}}
		</div>
		<div class="ribbon">
			<div class="container">
				<p>
					Please scroll down for recent news and updates or use menus for site navigation
				</p>
			</div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-xl-3">
					<div class="logo xl-flex xl-flex-row xl-align-items-center xl-justify-content-space-between">
						<img src="/img/logo.svg" alt="">
						<div class="info text-sm-center text-xl-left">
							<p>
								Northern Geotechnical<br>
								Engineering, Inc.<br>
								Terra Firma Testing<br>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-xl-9">
					{{>navRows}}
				</div>
			</div>
		</div>
	</header>
	<main>
	<div class="container">
		<div class="feature battery">
			<div class="feature-body">
				<h1>
					Welcome
				</h1>
				<h2><span class="break">to Northern Geotechnical Engineering-</span> Terra Firma Testing, Inc. <span class="p">(NGE-TFT)</span></h2>
				<p>At NGE-TFT, we specialize in cold-regions geotechnical exploration and engineering, as well as provide materials testing, third-party QA/QC, and special inspection services throughout Alaska and around the world. </p>
				<p>NGE-TFT is an employee-owned company that evolved from a desire to provide project-oriented and budget-conscious services. Despite our substantial growth as a company, we continue to maintain intimate associations with both client and contractor to provide practical and constructible solutions to both simple and complex situations. </p>
				<p>Alaska presents many unique and challenging environments in which to design and construct. NGE-TFT is continuously expanding its services and developing its staff in order to stay abreast with new technologies and materials within the engineering and construction industries. We try to incorporate both time-tested methods and cutting edge technologies to accomplish project goals in the most efficient means possible. Please consider allowing us to contribute our extensive experience in Alaska to your next project!</p>
			</div>
		</div>
	</div>
	
	<div class="pre-footer gradientStyle">
	</div>
	</main>
	{{>footer}}

</body>
</template>

