
<template name="slideShow">
<ul class="cycle-slideshow" data-cycle-slides="li" data-cycle-next=".next" data-cycle-prev=".prev" data-cycle-pager="#pager">
	<li data-background="link-belt" data-title=""  data-link="/services/geotechnical_engineering">
		<div class="caption">
			<div class="controls">
				<div class="next">
					<img src="/img/next.svg" alt="">
				</div>
				<div class="prev">
					<img src="/img/prev.svg" alt="">
				</div>
			</div>
			<div class="caption-body">
				<div class="caption-body-content">
					<h3>Geotechnical Engineering</h3>
					<p>We provide a wide-range of professional engineering services that include: subsurface exploration and monitoring; geotechnical, civil, and structural design; site and project feasibility evaluations; constructability assessments; cost analysis; and construction management.</p>
					<a href="/services/geotechnical_engineering">Learn more</a>
				</div>
			</div>
		</div>
		<div class="image link-belt"></div>
	</li>
	<li data-background="dam" data-title=""  data-link="/services/lab_materials_testing">
		<div class="caption">
			<div class="controls">
				<div class="next">
					<img src="/img/next.svg" alt="">
				</div>
				<div class="prev">
					<img src="/img/prev.svg" alt="">
				</div>
			</div>
			<div class="caption-body">
				<div class="caption-body-content">
					<h3>Laboratory Testing</h3>
					<p>We specialize in the testing of soils, rock, and engineered construction materials; including aggregate, concrete, and asphalt, for the geotechnical engineering, construction and mining industries.</p>
					<a href="/services/lab_materials_testing">Learn more</a>
				</div>
			</div>
		</div>
		<div class="image dam"></div>
	</li>
	<li data-background="big-dam" data-title="" data-target="_self" data-link="/services/construction_site_materials_testing">
		<div class="caption">
			<div class="controls">
				<div class="next">
					<img src="/img/next.svg" alt="">
				</div>
				<div class="prev">
					<img src="/img/prev.svg" alt="">
				</div>
			</div>
			<div class="caption-body">
				<div class="caption-body-content">
					<h3>Construction Site Materials Testing</h3>
					<p>Our field personnel provide a range of quality assurance Construction Site Materials and Observation services before, during, and after construction. These services include on-site materials testing, observation and monitoring of materials during placement/construction, and evaltuation of placed/constructed materials.</p>
					<a href="/services/construction_site_materials_testing">Learn more</a>
				</div>
			</div>
		</div>
		<div class="image big-dam"></div>
	</li>
	<li data-background="pipeline" data-title="" data-link="/services/icc_special_inspection">
		<div class="caption">
			<div class="controls">
				<div class="next">
					<img src="/img/next.svg" alt="">
				</div>
				<div class="prev">
					<img src="/img/prev.svg" alt="">
				</div>
			</div>
			<div class="caption-body">
				<div class="caption-body-content">
					<h2>ICC Special Inspection</h2>
					<p>We have been providing special inspection services to construction projects across Alaska since 2005. Our special inspectors are certified through the International Code (ICC) in Soils Reinforced Concrete, Structural Masonry, Post and Pre-Stressed Concrete, Structural Steel & Bolting, and Fire Proofing and our Certified Welding Inspectors (CWI) who are certified through the American Welding Society (AWS).</p>
					<a href="/services/icc_special_inspection">Learn more</a>
				</div>
			</div>
		</div>
		<div class="image pipeline"></div>
	</li>
</ul>
<div id="pager"></div>
</template>

<template name="slideshow_head">
		<div class="cycle-slideshow2 flexbox" 
		data-cycle-prev="#prev" 
		data-cycle-next="#next"
		data-cycle-overlay-template='<img style="position:absolute;bottom:0;left:20%;z-index:101" class="shannonCutOut" src="img/Shannon_bg.png" /><img style="position:absolute;bottom:0;padding-bottom:4em;left:45%;width:580px;z-index:101" class="big_logo" src="img/logo.png" />'>
			<div class="cycle-overlay custom"></div>
			<img style="z-index:-1;width:100%;" src="img/geotech_eng_button_photo.jpg"/>
			<img style="z-index:-1;width:100%;" src="img/lab_button_photo.jpg"/>
			<img style="z-index:-1;width:100%;"  src="img/comet_button_photo.jpg"/>
			<img style="z-index:-1;width:100%;" src="img/isssi_button_photo.jpg"/>
		</div>
</template>

<template name="header">
<div class="header xl-flex xl-flex-row xl-align-items-center xl-justify-content-space-between">
	<div>
		<img src="/img/logo-color.svg" alt="">
		<h1>Northern Geotechnical Engineering, Inc.<br>
		Terra Firma Testing</h1>
	</div>
	<div class="client-login" style="color:white;">
		{{>loginButtons}}
		
		{{!<h1>Client Login</h1>}}
		{{!<input type="text" placeholder="E-mail Address">}}
		{{!<div class="flex">}}
			{{!<input type="text" placeholder="Password">}}
			{{!<button type="submit" class="arrows"></button>}}
		{{!</div>}}
	</div>
</div>
</template>
<template name="breadcrumbNav">

	{{#each getCrumbs}}
	{{link}}
	{{/each}}
</template>
<template name="navRows">
<div class="row">
	<div class="col-xs-12">
		<div class="searchBar xl-flex xl-justify-content-end">
			<h2>Search this site:</h2>
			<div class="flex">
				<input type="text" id="search_term" placeholder="Keywords">
				<button  data-toggle="modal" data-target="#searchModal" class="search"></button>
				<br/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<nav class="main-nav">
			<ul>
				<li>
					<a target="_self" href="/about">About Us</a>
					<ul>
						<li>
							<a target="_self" href="/about/company_bio">Company Bio</a>
						</li>
						<li>
							<a target="_self" href="/about/mission">Mission</a>
						</li>
						<li>
							<a target="_self" href="/about/code_of_ethics">Code of Ethics</a>
						</li>
						<li>
							<a target="_self" href="/about/news">News and Upcoming Events</a>
						</li>
						<li>
							<a target="_self" href="/about/pro_affiliations">Professional Affiliations</a>
						</li>
						<li>
							<a target="_self" href="/about/client_reviews">Client Endorsements</a>
						</li>
					</ul>
				</li>
				<li>
					<a target="_self" href="/services/about">Our Service</a>
					<ul>
						<li>
							<a target="_self" href="/services/geotechnical_engineering">Geotechnical Engineering</a>
						</li>
						<li>
							<a target="_self" href="/services/construction_site_materials_testing">Construction Site Materials Testing</a>
						</li>
						<li>
							<a target="_self" href="/services/lab_materials_testing">Laboratory Testing</a>
						</li>
						<li>
							<a target="_self" href="/services/icc_special_inspection">ICC Special Inspection</a>
						</li>
					</ul>
				</li>
				<li>
					<a target="_self" href="/projects/geotechnical/dam">Our Projects</a>
					<ul>
						<li>
							<a target="_self" href="/projects/geotechnical/dam">Geotechnical Projects</a>
						</li>
						<li>
							<a target="_self" href="/projects/special_inspection/edu">Special Inspection & Materials Testing</a>
						</li>
					</ul>
				</li>
				<li>
					<a target="_self" href="/people">Our People</a>
				</li>
				<li>
					<a target="_self" href="/faq">Useful Info</a>
				</li>
				<li>
					<a target="_self" href="/contact">Contact Us</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

</template>
<template name="searchModal">



<!-- Modal -->
<div style="z-index:1000000" class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="searchModalLabel">Search for {{searchTerm}}</h4>
      </div>
      <div class="modal-body">
      	<div class="container">
	        <ul>
	        {{#each matching}}
	        	<li>
	        		<a class="searchLink text-center" href="{{urlPath}}">{{pageTitle}}</a>
	        	</li>
	        {{/each}}
	        </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</template>
<template name="footer">
<footer>
	<div class="container">
		<hr>
		<div class="row flex flex-wrap">
			<div class="col-xs-12 col-md-6 col-xl-3">
				<div class="logo xl-flex xl-flex-row xl-align-items-center xl-justify-content-space-between">
					<a href="/"><img src="/img/logo.svg" alt=""></a>
					<div class="info text-sm-center text-xl-left">
						<p>
							Northern Geotechnical<br>
							Engineering, Inc.<br>
							Terra Firma Testing<br>
							<small>
								©2016 all rights reserved.
							</small>
						</p>
					</div>
				</div>
			
			</div>
			<div class="col-xs-12 col-md-6 col-xl-3">
				<div class="icon-text">
					<a href="https://www.facebook.com/profile.php?id=100011118480903" target="_blank" class="flex flex-row align-items-center">
						<img src="/img/facebook.svg" alt="">
						<p>Like and Follow on Facebook</p>
					</a>
					<a href="#" target="_blank" class="flex flex-row align-items-center">
						<img src="/img/gplus.svg" alt="">
						<p>View and Rate on Google Plus</p>
					</a>
					<a href="https://www.linkedin.com/company/northern-geotechnical-engineering---terra-firma-testing-inc" target="_blank" class="flex flex-row align-items-center">
						<img src="/img/linkedin.svg" alt="">
						<p>Connect on Linked In</p>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-xl-3 text-sm-center">
				<img src="/img/gba.svg" alt="">
			</div>
			<div class="col-xs-12 col-md-6 col-xl-3">
				<div class="client-login">
					{{>loginButtons}}
				</div>
			</div>
		</div>
		<div>
			<p class="copyright small text-sm-center">Website design by <a href="http://www.buzzbizz.biz">Buzzbizz Studios, Anchorage, AK.</a></p>
		</div>
	</div>
</footer>
{{>searchModal}}
</template>
