<template name="contactHeader">
		<div class="subPageHeader">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-xl-3">
						<div class="logo xl-flex xl-flex-row xl-align-items-center xl-justify-content-space-between">
							<a href="/"><img src="/img/logo.svg" alt=""></a>
							<div class="info text-sm-center text-xl-left">
								<p>
									Northern Geotechnical<br>
									Engineering, Inc.<br>
									Terra Firma Testing<br>
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-xl-9">
						{{>navRows}}
					</div>
				</div>
			</div>
		
		</div>

</template>

<template name="contact">
{{! has different bg}}

<div class="container">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap contactPageRow">
			<div class="col-xs-12 col-md-6 contactPage">
				<h2 style="text-align:left;border:none;">NGE-TFT Office Headquarters and Laboratory Location:</h2>
				<p>Northern Geotechnical Engineering, Inc.
					<br/>d.b.a. Terra Firma Testing
					<br/>11301 Olive Lane
					<br/>Anchorage, Alaska 99515-3062
					<br/>Hours of Operation:Monday-Friday 8:00 a.m.-5:00 p.m. AST
					<br/> Phone : 907-344-5934  
					<br/> Fax:  907-344-5993
				</p>
				
			</div>
			<div class="col-xs-12 col-md-6">
				<img src="/img/contact_img_1.jpg"/>
			</div>
		</div>
		<div class="row subPage md-flex md-flex-wrap contactPageRow"> 
			<div class="col-xs-12 contactPage">
				<h3 style="text-align:left;">Departmental Contacts</h3>
			</div>
		</div>

		<div class="row subPage md-flex md-flex-wrap contactPageRow"> 
			{{#each contacts}}
			<div class="col-sm-12 col-md-12 col-lg-12">
				<br/>
				<h4><small>{{group}}</small></h4>
				{{#each data}}
					{{#if subTitle}}<h5><small>{{subTitle}}</small></h5>{{/if}}
					<small>{{contact}}</small>
					{{#each contactInfo}}
					<div class="row">
						<div class="col-xs-2 col-md-12 contactTitle">
							{{type}}
						</div>
						<div class="col-xs-10 col-md-8 gold">
							{{#if isEmail}}
							<a href="mailto:{{data}}" target="_top">{{data}}</a>
							{{else}}
							{{data}}
							{{/if}}
						</div>
					</div>
					{{/each}}
				{{/each}}
			</div>
			<br/>
			{{/each}}
		</div>
		<br/>
	</div>
</div>
</template>
