@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,700,700italic|Roboto+Condensed:400,700|Roboto+Mono:400,700|Roboto+Slab:400,700);
.gold {
  color: #BA871F; }

body {
  background-image: url("/img/bg_pattern_1_home.svg");
  background-size: 72px 72px;
  font-family: "Roboto", serif; }

.main-nav a {
  color: #D2B766;
  font-style: none; }

.main-nav a:hover {
  text-style: none; }

.main-nav ul li ul li a {
  color: white; }

h1, h2, h3, h4 {
  font-family: "Roboto Slab", serif; }

header {
  padding-top: 4em;
  background-repeat: none;
  background-position: center;
  position: relative; }
  header .indexHeader {
    background-image: url("/img/bg_photo_1_home.jpg");
    position: relative;
    margin-top: 2em;
    height: 720px; }
    header .indexHeader .row {
      height: 132px;
      background-color: #0B592F;
      background-color: rgba(11, 89, 47, 0.7); }
    header .indexHeader h2 {
      z-index: 4;
      margin-left: 2em;
      color: white; }
    header .indexHeader .logo_top_index {
      width: 228px;
      height: 228px;
      margin: 0;
      margin-top: -4em;
      opacity: 1;
      z-index: 3;
      position: relative; }

.searchBar h2 {
  color: white; }

.clientLogin {
  margin-top: 1em;
  display: relative;
  background-color: #BA871F; }
  .clientLogin img {
    width: 36px;
    height: 32px; }
  .clientLogin h4 {
    color: white; }
  .clientLogin input {
    background-color: #D2B766;
    border: none;
    height: 2.5em;
    margin-bottom: 1em;
    line-height: 1.25em;
    padding-left: .25em; }
  .clientLogin .loginButton {
    width: 2.5em;
    height: 2.5em;
    display: block;
    float: right; }

.topAboutNav {
  background-color: #BA871F;
  z-index: 1001;
  flex-wrap: wrap;
  flex-basis: 25%;
  justify-content: center; }
  .topAboutNav ul {
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: .25em 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 5%;
    font-family: "Roboto Slab", serif;
    font-size: 20px; }
    .topAboutNav ul a {
      color: white; }
    .topAboutNav ul li {
      padding: .25em;
      font-weight: 700; }

.yellowContainer {
  background-color: #BA871F; }

.subpage_showcase {
  height: 480px;
  width: auto;
  margin: auto;
  z-index: 999;
  position: relative; }

.subPage p {
  padding-top: 1em;
  font-size: 32px; }

.subPageHeader {
  padding: 1em 0;
  background-color: #0B592F;
  position: relative;
  z-index: 100000; }

.subPageImgHeader {
  z-index: 100;
  min-height: 25%;
  background-color: rgba(11, 89, 47, 0.7);
  position: relative;
  top: 75%;
  text-align: center;
  color: white;
  padding-top: 2%;
  font-family: "Roboto Slab", serif; }

.subPageImgHeaderCaption {
  background: none;
  z-index: 10000;
  position: relative;
  text-align: center;
  color: white;
  position: relative;
  top: 63%;
  font-family: 'Roboto Medium', serif;
  font-style: italic; }

.subPage {
  background-color: #F4EDD9;
  color: #0B592F;
  width: auto; }
  .subPage.container {
    padding-top: 2em; }
  .subPage p, .subPage ul {
    font-size: 18px;
    font-family: "Roboto", serif;
    padding-bottom: .25em;
    line-height: 1.25em; }
  .subPage h2, .subPage h3 {
    margin: 0;
    padding: 0;
    color: #BA871F;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 32px;
    font-family: "Roboto Slab", serif; }
  .subPage h3 {
    text-align: center;
    padding: .75em 0; }
  .subPage .proAffiliationRow h4 {
    color: #BA871F;
    font-weight: regular;
    padding-top: .5em;
    margin-bottom: .5em; }
  .subPage .seperatorHeadline {
    color: #0B592F;
    text-align: left;
    text-transform: none; }
  .subPage ul {
    margin: 1em;
    padding: .25em; }
    .subPage ul li {
      padding-bottom: .25em; }
  .subPage div.about_news_image {
    display: relative;
    width: 100%;
    margin: 0;
    padding: 0; }
    .subPage div.about_news_image span {
      margin: 0;
      padding: 0;
      color: white;
      background-color: rgba(11, 89, 47, 0.7);
      font-family: "Roboto Slab", serif;
      text-align: center; }
  .subPage ol {
    margin: 0;
    padding: .5em 1em; }
  .subPage .proAffilImg {
    text-align: center;
    padding-top: 2em;
    width: 100%;
    display: flex; }
  .subPage a {
    color: #BA871F; }
  .subPage .proAffiliationRow {
    display: flex; }
  .subPage ul.clientEndorsementIndex {
    font-family: "Roboto Slab", serif;
    border-left: solid 6px #BA871F;
    color: #BA871F;
    margin: inherit;
    padding: inherit;
    padding: 0 2em;
    font-size: 26px; }
    .subPage ul.clientEndorsementIndex li {
      padding-bottom: 1em;
      padding-right: .25em;
      text-align: left; }
    .subPage ul.clientEndorsementIndex ul {
      color: #0B592F;
      list-style-type: disc; }
  .subPage .newsItemRow {
    border-bottom: solid 4px #0B592F;
    padding: 1em 0; }
    .subPage .newsItemRow h2 {
      text-transform: initial; }
    .subPage .newsItemRow p {
      padding-top: 1em; }
  .subPage .peoplePage {
    text-align: center; }
  .subPage .jobOps h1, .subPage .peoplePage h1 {
    padding: 1em 0;
    text-align: left; }
  .subPage .jobOps h2, .subPage .peoplePage h2 {
    text-transform: initial;
    text-align: left; }
  .subPage .jobOps h4, .subPage .peoplePage h4 {
    color: #BA871F;
    text-transform: initial;
    padding-bottom: .25em; }
  .subPage .jobOps h5, .subPage .peoplePage h5 {
    border-bottom: solid #0B592F 4px;
    padding-bottom: 2em; }
  .subPage .jobOps table, .subPage .peoplePage table {
    width: 50%; }
    .subPage .jobOps table td, .subPage .peoplePage table td {
      text-align: left; }
  .subPage .peoplePage h5 {
    border: none;
    padding-bottom: .5em;
    margin-bottom: .5em; }
  .subPage .peoplePageRow {
    border-bottom: solid #0B592F 4px; }
  .subPage .contactPageRow h2, .subPage .contactPageRow h3 {
    text-transform: initial;
    border-top: solid #0B592F 4px;
    padding-top: .25em;
    font-size: 32px;
    color: #BA871F; }
  .subPage .contactPageRow h3 {
    color: #BA871F; }
  .subPage .contactPageRow h4 {
    color: #0B592F;
    text-transform: uppercase; }
  .subPage .contactPageRow h5 {
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase; }
  .subPage .contactPageRow .gold {
    color: #BA871F;
    text-align: right; }
  .subPage .contactPageRow .contactTitle {
    padding-right: .25em; }
  .subPage .contactPageRow table {
    width: 66%; }
  .subPage #directionsPrompt {
    min-width: 2000px; }
    .subPage #directionsPrompt .arrows {
      width: 100%;
      height: 32px;
      background-color: white;
      color: #BA871F; }

.goldBucket a {
  text-decoration: none; }

.subPageCenterCaption {
  color: #BA871F;
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 1em;
  text-align: center; }

.bottomYellowLine {
  margin: 2em 0;
  border-bottom: solid #BA871F 8px; }

#map-container {
  width: 100%;
  height: 500px; }

.services_img_box {
  background-image: url("/img/services_image_footer.svg");
  background-repeat: none;
  background-position: center; }

.peoplePage h5 {
  padding: 0;
  margin: 0; }

ul.projectsList {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.projectsList li {
    margin: 1em 0;
    padding: .5em 0;
    width: 100%;
    font-family: "Roboto", serif;
    background-color: #0B592F;
    color: white;
    text-align: center;
    font-size: 18px; }

.projectsImgHeader {
  z-index: 100;
  height: 25%;
  background-color: rgba(11, 89, 47, 0.7);
  position: relative;
  top: 84%;
  text-align: center;
  color: white;
  padding-top: 2%;
  font-family: "Roboto Slab", serif; }

.ss_controls {
  padding: 0;
  margin: 0;
  height: 97px;
  max-width: 100%;
  display: relative;
  top: 0; }

@media (min-width: 1280px) {
  .ss_controls {
    margin-top: -19px !important; } }
@media (max-width: 1279px) {
  .ss_controls {
    margin-top: -14px !important; } }

/*# sourceMappingURL=main.css.map */
