<head>
	<title>Northern Geotechnical Engineering</title>
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<!-- script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDvWDFq6nzCCgbGs1j_vR-EY6JdWM8v42k"></script-->
	<script src="/jquery-2.2.4.min.js"></script>
	<script src="/tether.min.js"></script><!-- Tether for Bootstrap --> 
	<script src="/bootstrap.min.js"></script><!-- Bootstrap --> 
</head>

<body>

</body>


<template name="layout">
    {{> Template.dynamic template=main}}
</template>


<template name="aboutLayout">
<body style="background-image: url('{{bgImage}}');">
	{{> Template.dynamic template=header}}
	<div class="container">
		<div id="about_background" class="subpage_showcase">
			<h1 style="padding-top:1%;" class="subPageImgHeader">{{pageTitle}} 
			{{#if backLink}}<a target="_self" href="{{backLink}}"><img style="float:right" width='100px' height='100px' src="/img/services_back_btn.svg"/></a>
			{{else}}
			{{! determine backlink}}
				{{#if getBackLink}}
				<a target="_self" class="generatedBackLink" href="{{getBackLink}}"><img style="float:right" width='100px' height='100px' src="/img/services_back_btn.svg"/></a>
				{{/if}}
			{{/if}}
			</h1>
			{{! inconsistent styling for sub caption header ... also caption overflows if window is teeny.}}
			{{#if titleCaption}}
			<p class="subPageImgHeaderCaption">{{titleCaption}}
			</p>
			{{/if}}
		</div>
		<div class="container subPage">
			{{> Template.dynamic template=main}}
			{{#if subLinks}}
			<div class="row subPage md-flex md-flex-wrap">
				{{#if indexBlurbRaw}}
				<div class="col-xs-12 col-md-6">
					{{#unless indexBlurbRaw}}
					<p>{{{indexBlurb}}}</p>
					{{else}}
					{{! looks weirdish on lab materials testing ... fix somehow?}}
					<p style="padding-left:1em;padding-top:1em;">{{{indexBlurbRaw}}}</p>
					<br/>
					{{/unless}}
				</div>
				<div class="col-xs-12 col-md-6">
					{{#if subLinkIntro}}
					{{{subLinkIntro}}}
					<br/>
					{{/if}}
					<ul class="clientEndorsementIndex">
					{{#each subLinks}}
						<li>{{#if link}}<a target="_self" href="{{link}}">{{title}}</a>{{else}}{{title}}{{/if}}</li>
					{{/each}}
					</ul>
				</div>
				{{else}}
				<div class="col-xs-12">
					{{#if subLinkIntro}}
					{{{subLinkIntro}}}
					<br/>
					{{/if}}
					<ul class="clientEndorsementIndex">
					{{#each subLinks}}
						<li>{{#if link}}<a target="_self" href="{{link}}">{{title}}</a>{{else}}{{title}}{{/if}}</li>
					{{/each}}
					</ul>
				</div>
				{{/if}}
			</div>
			{{/if}}
		</div>
	</div>
	{{>footer}}
</body>
</template>

<template name="contactLayout">
<body style="background-image: url('{{bgImage}}');">
	{{> Template.dynamic template=header}}
	
			{{> Template.dynamic template=main}}
			
	{{>footer}}
</body>
</template>

<template name="peopleLayout">
<body style="background-image: url('{{bgImage}}');">
	{{> Template.dynamic template=header}}
	<div class="container">
		<div id="about_background" class="subpage_showcase">
			<h1 style="margin-top:0;padding-top:1%;" class="subPageImgHeader">{{pageTitle}}
			{{#if backLink}}<a target="_self" href="{{backLink}}"><img style="float:right" width='100px' height='100px' src="/img/services_back_btn.svg"/></a>{{/if}}</h1>
			{{! inconsistent styling for sub caption header ... also caption overflows if window is teeny.}}
			{{#if titleCaption}}
			<p class="subPageImgHeaderCaption">{{titleCaption}}
			</p>
			{{/if}}
		</div>
		<div class="container subPage">
		{{#if content}}
			<div class="container subPage peoplePage">
				<div class="row subPage md-flex md-flex-wrap">
					<div class="col-xs-12 col-md-8">
						{{{content}}}
					</div>
					<div class="col-xs-12 col-md-4">
						<img src="/img/{{#if bioImage}}{{bioImage}}{{else}}bio_placeholder.svg{{/if}}" />
					
					</div>

				</div>
			</div>
			<br/>
		{{/if}}
			{{> Template.dynamic template=main}}
			
		</div>
	</div>
	{{>footer}}
</body>
</template>


<template name="clientLogin">
	<div class="clientLogin" style="padding:.25em 1em 0 1em;">
	<h4>&&Client login:</h4>
	<input style="width:100%" placeholder="E-MAIL ADDRESS" name="email"/>
	<br/>
	<input style="width:80%" placeholder="PASSWORD" name="password" type="password"/>
	<a class="loginButton" href="#"><img src="/img/icon_d_arrow_right.svg"/></a>
	</div>
</template>

