@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,700,700italic|Roboto+Condensed:400,700|Roboto+Mono:400,700|Roboto+Slab:400,700);
$green : #0B592F;
$gold : #BA871F;
$light-gold : #D2B766;
$bg-gold: #F4EDD9;
$primary-font: 'Roboto', serif;
$secondary-font: 'Roboto Slab', serif;
.gold{
	color : $gold;
}

body{
	background-image: url("/img/bg_pattern_1_home.svg");
	background-size: 72px 72px;
	font-family: $primary-font;
}
// nav thats on every page at top
.main-nav a{
	color:$light-gold;
	font-style:none;
}
.main-nav a:hover{
	text-style :none;
}
.main-nav ul li ul li a{
	color:white;
}
h1,h2,h3,h4{
	font-family: $secondary-font;
}

header{
	padding-top:4em;
	background-repeat: none;
	background-position: center;
	position: relative; 
	.indexHeader{
		background-image: url("/img/bg_photo_1_home.jpg");
		position: relative;
		margin-top:2em;
		height:720px;
		.row{
			height:132px;
			background-color:$green;
			background-color:rgba(11,89,47,.7);
		}
		h2{
			z-index:4;
			margin-left:2em;
			color:white;
		}
		.logo_top_index{
			width:228px;
			height:228px;
			margin:0;

			margin-top:-4em;
			opacity:1;
			z-index:3;
			position: relative;
		}
	}
}
.searchBar{
	h2{
		color:white;
	}
}
.clientLogin{
	margin-top:1em;
	display:relative;

	img{
		width:36px;
		height:32px;
	}
	h4{
		color:white;
	}
	input{
		background-color: $light-gold;
		border:none;
		height:2.5em;
		margin-bottom:1em;
		line-height: 1.25em;
		padding-left:.25em;
			
	}
	.loginButton{
		width:2.5em;
		height:2.5em;
		display:block;
		float:right;
	}
	
	background-color:$gold;
}
.topAboutNav{
	background-color:$gold;
	z-index:1001;
	flex-wrap: wrap;
	flex-basis: 25%;
	justify-content: center;
	ul{
		z-index:10;
		list-style-type:none;
		margin:0;
		padding:.25em 0;

		display:flex;
		justify-content:space-around;
		flex-wrap: wrap;
		flex-basis: 5%;
		a{
			color:white;
		}	
		font-family:$secondary-font;
		font-size:20px;
		li{
			padding:.25em;
			font-weight: 700;
		}
	}
}
.yellowContainer{
	background-color: $gold;
}
.subpage_showcase{
	height:480px;
	width:auto;
	margin:auto;
	z-index:999;
	position:relative;
}
.subPage p{
	padding-top: 1em;
	font-size:32px;
}
.subPageHeader{
	padding:1em 0;
	background-color:$green;
	position:relative;
	z-index:100000;
}

.subPageImgHeader{
	z-index:100;
	//border:red;
	min-height:25%;
	//margin-top:-30px;
	background-color:rgba(11,89,47,.7);
	position:relative;
	top:75%;
	text-align:center;
	color:white;
	padding-top:2%;
	font-family:$secondary-font;
}
.subPageImgHeaderCaption{
	background:none;
	
	//border:red;
	
	z-index:10000;
	position:relative;
	text-align:center;
	color:white;
	position:relative;
	top:63%;
	font-family: 'Roboto Medium', serif;
	font-style: italic;
}
.subPage{
	&.container{
		padding-top:2em;
	}
	background-color: $bg-gold;
	color: $green;
	width:auto;
	p, ul{
		font-size:18px;
		font-family:$primary-font;
		padding-bottom:.25em;
		line-height:1.25em;
	}
	h2,h3{
		margin:0;
		padding:0;
		color:$gold;
		text-transform: uppercase;
		font-weight:normal;
		font-size:32px;
		font-family:$secondary-font;
	}
	h3{
		text-align:center;
		padding:.75em 0;
	}
	// used in about_pro_affiliations for affiliate headline
	.proAffiliationRow h4{
		color:$gold;
		font-weight: regular;
		padding-top:.5em;
		margin-bottom:.5em;
	}


	// green headline for 'regulatory and governing ... '
	.seperatorHeadline{
		color:$green;
		text-align:left;
		text-transform: none;
	}
	ul{
		margin:1em;
		padding:.25em;
		li{
			padding-bottom:.25em;
		}
	}
	// about news photo captions
	div.about_news_image{
		display:relative;
		width:100%;
		margin:0;
		padding:0;
		span{
			margin:0;
			padding:0;
			color: white;
			background-color:rgba(11,89,47,.7);
			font-family:$secondary-font;
			text-align:center;
		}
	}
	//about code of ethics OL styling
	ol{
		margin:0;
		padding:.5em 1em;
	}
	// images on pro affiliation about page
	.proAffilImg{
		text-align:center;
		padding-top:2em;
		width:100%;
		display:flex;
		
	}
	a{
		color:$gold
	}
	// green border  on pro affiliation items
	.proAffiliationRow{
		display:flex;
	}
	// client endorsement unordered list border
	ul.clientEndorsementIndex{
		font-family:$secondary-font;
		border-left : solid 6px $gold;
		color:$gold;
		margin:inherit;
		padding:inherit;
		padding: 0 2em;
		font-size:26px;
		li{
			padding-bottom : 1em;
			padding-right: .25em;
			text-align:left;
		}
		// inner lists
		ul{
			color:$green;
			list-style-type : disc;
		}
	}
	// people page text styling

	// lines on bottom of about/news entries
	.newsItemRow{
		border-bottom: solid 4px $green;
		padding: 1em 0;
		h2{
			text-transform: initial;
		}
		p{
			padding-top:1em;
		}
	}
	// people job opp table style
	.peoplePage{
		text-align:center;
	}

	.jobOps,.peoplePage{
		// 'current opportunities' title padding
		h1{
			padding:1em 0;
			text-align:left;
		}
		// top page gold title
		h2{
			text-transform : initial;
			text-align:left;
		}
		// job op title
		h4{
			color:$gold;
			text-transform: initial;
			padding-bottom:.25em;
		}
		// bottom green border
		h5{
			border-bottom: solid $green 4px;
			padding-bottom:2em;
		}
		table{
			width:50%;
			td{
				text-align:left;
			}
		}
	}

	.peoplePage{
		h5{
			border:none;
			padding-bottom:.5em;
			margin-bottom:.5em;
		}

	}
	.peoplePageRow{
		border-bottom:solid $green 4px;
	}
	// contact styles

	.contactPageRow{
		h2,h3{
			text-transform : initial;
			border-top:solid $green 4px;
			padding-top:.25em;
			font-size: 32px;
			color:$gold;
		}
		// department
		h3{
			//text-transform : uppercase;
			color:$gold;
		}
		// sub titltle
		h4{
			color:$green;
			text-transform : uppercase;
		}
		h5{
			margin:0;
			padding:0;
			text-align:left;
			text-transform : uppercase;
		}
		.gold{
			color:$gold;
			text-align:right;
		}
		.contactTitle{
			padding-right : .25em;
		}
		table{
			width:66%;
		}
	}
	// google directions map prompt styling
	#directionsPrompt{
		min-width:2000px;
		
		.arrows{
			width:100%;
			height: 32px;
			background-color: white;
			color:$gold;
		}
	}
}
// front page 'bucket' link styles
.goldBucket{
	a{
		text-decoration :none;
	}
}
.subPageCenterCaption{
	color:$gold;
	font-size:32px;
	font-weight:normal;
	padding-bottom:1em;
	text-align:center;
}
.bottomYellowLine{
	margin:2em 0;
	border-bottom:solid $gold 8px;
}
// contacts page map
#map-container {
  width: 100%;
  height: 500px;
}
// services page
.services_img_box{
	background-image: url("/img/services_image_footer.svg");
	background-repeat: none;
	background-position: center;
}
// people page
.peoplePage{
		h5{
			padding: 0;
			margin:0;
		}
}
// projects nav
ul.projectsList{
	list-style-type:none;
	margin:0;
	padding:0;
	li{
		margin:1em 0;
		padding: .5em 0;
		width : 100%;
		font-family: $primary-font;
		background-color : $green;
		color:white;
		text-align:center;
		font-size:18px;
	}
}
// projects caption
.projectsImgHeader{
	z-index:100;
	//border:red;
	height:25%;
	//margin-top:-30px;
	background-color:rgba(11,89,47,.7);
	position:relative;
	top:84%;
	text-align:center;
	color:white;
	padding-top:2%;
	font-family:$secondary-font;
}
// projects gallery slideshow controls
.ss_controls{
	padding:0;
	margin:0;
	height:97px;
	max-width:100%;
	display:relative;
	top:0;
}


@media (min-width: 1280px) {
    .ss_controls {
        margin-top: -19px !important;
    }
}

@media (max-width: 1279px) {
    .ss_controls {
        margin-top: -14px !important;
    }
}
