<template name="peopleHeader">
		<div class="subPageHeader">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-xl-3">
						<div class="logo xl-flex xl-flex-row xl-align-items-center xl-justify-content-space-between">
							<a href="/"><img src="/img/logo.svg" alt=""></a>
							<div class="info text-sm-center text-xl-left">
								<p>
									Northern Geotechnical<br>
									Engineering, Inc.<br>
									Terra Firma Testing<br>
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-xl-9">
						{{>navRows}}
					</div>
				</div>
			</div>
		
		</div>

</template>


<template name="people">
	<div class="container peoplePage">
			<div class="row md-flex md-flex-wrap">
			{{#each teamMembers}}
			<div class="col-xs-12 col-md-6">
				<div class="row md-flex md-flex-wrap">
					<div class="col-xs-12 col-md-4">
						<img style="padding:2em 0; padding-top:0;" src="/img/{{bioImage}}" />
					
					</div>
					<div class="col-xs-12 col-md-8">
						<h5 style="padding:0em;margin-bottom:0;" class="gold">{{name}}</h5>
						<h5 style="margin:0;padding:0">{{title}}</h5>
						
						{{#if extraTitle}}
						<p style="padding:0;margin:0;">
							<small>{{extraTitle}}</small>
						</p>
						{{/if}}

						{{#if bioLink}}
							<a target="_blank" href="/pdf/resume_{{bioLink}}.pdf">View Resume</a>
							<br/>
							<a target="_self" href="/people/bio/{{bioLink}}">View Bio</a>
						{{else}}
							{{#if altLink}}
								<a target="_self" href="/people/bio/{{altLink}}">View Bio</a>
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
			{{/each}}
			</div>
	</div>
	<br/>
</template>

<template name="people_career pportunities">
	<div class="container peoplePage">
		<div class="row md-flex md-flex-wrap">

		</div>
	</div>
	<br/>
</template>

<template name="people_opportunities">
{{! has different bg}}
<div class="container">
		<div id="about_background" class="subpage_showcase">
			<h1 class="subPageImgHeader">Opportunities with NGE-TFT</h1>
		</div>
		<div class="container peoplePage">
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-8 jobOps">
				<h2>Seasonal and project-specific employment opportunities:</h2>
				<p>We expand to meet seasonal and project requirements, finding qualified personnel in the business and educational communities. If you would like to submit a resume, <a href="#">please submit here.</a></p>
				<h1>Current Opportunities:</h1>
				{{#each jobOps}}
				<h4>{{title}}</h4>
				<table>
					<tr>
						<td>Location</td>
						<td>{{location}}</td>
					</tr>
					<tr>
						<td>Job Type</td>
						<td>{{jobType}}</td>
					</tr>
					<tr>
						<td>Education</td>
						<td>{{education}}</td>
					</tr>
					<tr>
						<td>Experience</td>
						<td>{{experience}}</td>
					</tr>
				</table>
				<p><br/>Responsibilities:</p>
				<p>{{responsibilities}}</p>
				<h5><a href="{{link}}">Click to view full listing and apply.</a></h5>
				{{/each}}
				</div>
				<div class="col-xs-12 col-md-4">
					<img src="/img/logo_main_lg.svg" width="360px" height="360px"/>
					
					<small>
						<h4 style="text-align:center;">NGE-TFT is an equal opportunity employer.</h4>
						<p style="text-align:center;">We employ talented, hard-working individuals who understand teamwork. Our staff includes engineers along with specialists in geology, special inspectors, testing technicians and a well-rounded support staff.</p>
						<p>Resumés are always accepted even if there are not currently-posted opportunities. If you are interested in employment with NGE-TFT at any time, please <a href="#">submit your resumé here</a> with a brief introduction to yourself.</p>

					</small>
				</div>
			</div>
		</div>
		
		<div class="container subPage peoplePage">
		{{#each teamMembers}}
		<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-9">
				<h2>{{name}}</h2>
				<h3>{{title}}</h3>
				
				{{#if extraTitle}}
				<h4>{{extraTitle}}</h4>
				{{/if}}

				<p>{{{content}}}</p>

				{{#if footerContent}}
				{{{footerContent}}}
				{{/if}}
				</div>
				<div class="col-xs-12 col-md-3">
					{{#if image}}

					{{else}}

					{{/if}}
					{{#if sideBar}}
						{{{sideBar}}}
					{{/if}}

				</div>
		</div>
		{{/each}}
</div>
</div>
</template>