<template name="projectsHeader">
    <div class="subPageHeader">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xl-3">
                    <div class="logo xl-flex xl-flex-row xl-align-items-center xl-justify-content-space-between">
                        <a href='/'><img src="/img/logo.svg" alt=""></a>
                        <div class="info text-sm-center text-xl-left">
                            <p>
                                Northern Geotechnical
                                <br> Engineering, Inc.
                                <br> Terra Firma Testing
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-xl-9">
                    {{>navRows}}
                </div>
            </div>
        </div>
    </div>
    <div class="topAboutNav">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="topAboutNav">
                        <li><a href="/projects/geotechnical/dam">Geotechnical Engineering</a></li>
                        <li><a href="/projects/special_inspection/edu">Special Inspection and Materials Testing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="projectsLayout">
    <body style="background-image: url('{{bodyBg}}');">
        {{> Template.dynamic template=header}}
        <div class="container">
            <div class="container subPage">
                <div class="row md-flex md-flex-wrap">
                    <div class="col-xs-12 col-lg-3 text-center">
                        {{#if subLinkIntro}} {{{subLinkIntro}}}
                        <br/> {{/if}}
                        <a target="_self" style="margin-left:50px;" class="generatedBackLink" href="{{getProjectsBackLink}}"><img width='100px' height='100px' src="/img/services_back_btn.svg"/></a>
                        <ul class="projectsList">
                            {{#each subLinks}}
                            <li>{{#if link}}<a style="{{#unless selected}}color:white;{{/unless}}" href="{{link}}">{{title}}</a>{{else}}{{title}}{{/if}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="col-xs-12 col-lg-9 contentBlock">
                        {{#if content}} {{#each content}} {{#if isActive}}
                            <div id="slideShowImage" style="width:100%;height:600px;background: url(/img/projects/{{img}}) bottom left no-repeat;background-size:cover;">
                                {{#unless smallerTitle}}
                                <h4 class="projectsImgHeader" style="height:4em;"> 
                                            {{#unless hideSlideControls}}
											<a href="#" class='prev pull-left'>
											 	<img class="ss_controls" src="/img/grx_arrow-prev.svg" />
											 </a>
                                             {{/unless}}
											 {{#unless hideSlidesTitles}} 
                                                
												 {{title}} 
                                              
											 {{/unless}}
                                             {{#unless hideSlideControls}}
											 <a href="#" class='next pull-right'> 
											 	<img class="ss_controls" src="/img/grx_arrow-next.svg"/>
											 </a>
                                             {{/unless}}
								</h4>
                                {{else}}
                                <h6 class="projectsImgHeader smallerTitle" style="height:6em;"> 
                                            {{#unless hideSlideControls}}
                                            <a href="#" class='prev pull-left'>
                                                <img class="ss_controls" src="/img/grx_arrow-prev.svg" />
                                             </a>
                                             {{/unless}}
                                             {{#unless hideSlidesTitles}} 
                                                
                                                 {{title}} 
                                              
                                             {{/unless}}
                                             {{#unless hideSlideControls}}
                                             <a href="#" class='next pull-right'> 
                                                <img class="ss_controls" src="/img/grx_arrow-next.svg"/>
                                             </a>
                                             {{/unless}}
                                </h6>
                                {{/unless}} 
                               
                            </div>
                        <div class="container">
                            {{#if client}}
                            <h4>Client: {{client}}</h4> {{/if}}
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="text-align:center;">{{blurb}}</p>
                                </div>
                            </div>
                        </div>
                        <br/> {{/if}} {{/each}} {{/if}} 
                        {{#if outerBlurb}}
                        	{{{outerBlurb}}}
                        {{/if}}
                        {{> Template.dynamic template=main}}
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</template>

<template name ='geotech_soil_and_bedrock_test_pit'>
	<ul>
		<li>Vertical and horizontal material contacts;</li>
		<li>Actual particles size of large-diameter soil particles (i.e., gravel/cobble/boulders);</li>
		<li>Nature and extent of any buried debris;</li>
		<li>Differentiate between bedrock and large boulders in the shallow subsurface;</li>
		<li>The collection of large (bulk) samples.</li>
	</ul>
	However, test pit excavations have several drawbacks, including (but not limited to):
	<ul>
		<li>Excessive ground disturbance;</li>
		<li>Limited exploration depth (depending upon equipment size and excavation footprint);</li>
		<li>Lack of ability to conduct in-situ geotechcnial testing/sampling such as SPT/MPT, Shelby tubes, etc.</li>
	</ul>
</template>