<template name="servicesHeader">
<div class="subPageHeader">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-xl-3">
				<div class="logo xl-flex xl-flex-row xl-align-items-center xl-justify-content-space-between">
					<a target='_self' href="/"><img src="/img/logo.svg" alt=""></a>
					<div class="info text-sm-center text-xl-left">
						<p>
							Northern Geotechnical<br>
							Engineering, Inc.<br>
							Terra Firma Testing<br>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-xl-9">
				{{>navRows}}
			</div>
		</div>
	</div>
</div>
<div class="topAboutNav">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="topAboutNav">
					<li><a target="_self" href="/services/geotechnical_engineering">Geotechnical Engineering </a></li>
					<li><a target="_self" href="/services/construction_site_materials_testing">Construction Site Materials Testing</a></li>
					<li><a target="_self" href="/services/icc_special_inspection">ICC Special Inspection</a></li>
					<li><a target="_self" href="/services/lab_materials_testing">Lab Materials Testing</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{{>breadcrumbNav}}
			</div>
		</div>
	</div>
</div>

</template>

<template name="services">
		<div class="row">
			<div class="col-xs-12">
				<h2>Our Service</h2>
				<p>
				At NGE-TFT, we provide a wide-range of professional engineering, construction quality control/assurance, ICC Special Inspection, and laboratory testing services with an emphasis on value engineering and professionalism.</p>
				<p>
				Our staff of professional engineers and geologists is experienced in a wide range of subsurface exploration techniques and cold-region design and construction practices. Our staff maintains an outstanding relationship with exploration and construction contractors across Alaska enabling us to provide geotechnical engineering services tailored to specific project needs, while maintaining tight controls on cost, schedule, and performance. </p>
				<p>
				Our technical field personnel provide a range of quality assurance Construction Site Materials Testing and Observation services before, during, and after construction. These services include on-site materials testing, observation and monitoring of materials during placement/construction, evaluation of placed/constructed materials, and ICC Special Inspection. Materials and structures typically covered by these services include earthworks, foundations, concrete, wood, masonry, structural steel, sprayed-on fireproofing, and asphalt pavement.
				</p>
			</div>
		</div>
</template>
<template name="services_construction_site_materials_testing">
{{! has different bg}}


	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-6">
					<p>Our field personnel provide a range of quality assurance Construction Site Materials Testing and Observation services before, during, and after construction. These services include on-site materials testing, observation and monitoring of materials during placement/construction, and evaluation of placed/constructed materials. Materials and structures typically covered by these services include earthwork, foundations, concrete, wood, masonry, structural steel, sprayed-on fireproofing, and asphalt pavement. </p>
					<p>Our Construction Site Materials Testing and Observation services are closely interlinked with many of our other services. For example, many of the materials we test in the field end up in the laboratory for further testing and verification and our special inspectors typically work with field technicians during the observation of construction processes. </p>
					<img style="padding:1em" src="/img/services_construction_site_img_1.jpg"/>
					<p>Owners, architects, civil, and structural engineering firms can reduce their construction project risk by using these services during construction, in order to verify that contractors are adhereing to project specifications. The quality of construction materials is a major component of building and infrastructure durability over their service lives. </p>
					<p>Our seasoned personnel have performed construction site materials testing and observation on a multitude of institutional, governmental, municipal and private development projects throughout Alaska with over 135,000 man hours of field work successfully completed over the past ten construction seasons. Our staff works closely with owners and project engineers/ managers, as well as contractors before, during and after the construction phase, providing responsive and constructive communication along with timely observations, accurate laboratory and field test results.  </p>
					<img style="padding:1em" src="/img/services_construction_site_img_2.jpg"/>
					<p>Proficiency demonstration in soils, aggregate, concrete and asphalt is a required standard for all our field personnel. In addition, all our construction materials personnel are Western Alliance for Quality Transportation Construction (WAQTC), American Concrete Institute (ACI), and Troxler nuclear densometer trained and certified.  </p>
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>The following sections list some common Construction Site Materials Testing and Observations services that we perform.</h4>
					<p>(The ASTM number is included where applicable) This list constitutes a small portion of the materials and services that we offer under this section, if you think you need a service not already listed below, please contact us and we would be happy to discuss your specific needs.</p>
					<br/>
					{{! use a different name for this.... probably subPageInlineUl }}
					<ul class="clientEndorsementIndex">
					{{#each constructionSiteMaterialsTesting}}
						<p><h1>{{title}}</h1>
							<ul>
								{{#each data}}
								<li>{{this}}</li>
								{{/each}}
							</ul>
						</p>
					{{/each}}
					</ul>
				</div>
		</div>
	</div>
</template>
<template name="services_about">
	<div class="col-xs-12 col-md-12">
		<h3>Our Service</h3>
		<p>At NGE-TFT, we provide a wide-range of professional engineering, construction quality control/assurance, ICC Special Inspection, and laboratory testing services with an emphasis on value engineering and professionalism.</p>
		<p>Our staff of professional engineers and geologists is experienced in a wide range of subsurface exploration techniques and cold-region design and construction practices. Our staff maintains an outstanding relationship with exploration and construction contractors across Alaska enabling us to provide geotechnical engineering services tailored to specific project needs, while maintaining tight controls on cost, schedule, and performance.</p>
		<p>Our technical field personnel provide a range of quality assurance Construction Site Materials Testing and Observation services before, during, and after construction. These services include on-site materials testing, observation and monitoring of materials during placement/construction, evaluation of placed/constructed materials, and ICC Special Inspection. Materials and structures typically covered by these services include earthworks, foundations, concrete, wood, masonry, structural steel, sprayed-on fireproofing, and asphalt pavement.</p>
		<p>We specialize in the testing of soils, rock, and engineered construction materials; including aggregate, concrete, and asphalt, for the geotechnical engineering and construction and mining industries. We pride ourselves upon our ability to provide accurate and timely results for our clients. With over 18 years in business, we have the experience that enables us to look at the bigger picture of your project, and help you determine the tests required to provide the most cost effective solution to your project’s testing needs.</p>
		<br/>
		<br/>
	</div>
</template>
<template name="services_geotechnical_engineering">

		
		<div class="container subPage">
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-6">
					<p>We provide a wide-range of professional engineering services that include:  subsurface exploration and monitoring; geotechnical, civil, and structural  design; site and project feasibility evaluations; constructability assessments; cost analysis; and construction management. Our diverse experience provides us with a unique insight into the processes required to adequately evaluate geotechnical conditions and develop suitable and practical geotechnical engineering design and construction recommendations. We tailor our professional engineering services to meet specific project needs in an effort to help increase value and reduce project overhead. For smaller projects and reliminary assessments, we develop a low cost approach to save time and resources for the  client. For larger, more complex projects, we develop a scope of service geared to maximize data collection for the design team, minimize cost and time  requirements, and provide clear, concise documentation of the work  completed;  along  with  pertinent engineering conclusions and recommendations. Our staff of professional engineers and geologists is  experienced in a wide range of subsurface exploration techniques and  cold-region construction methods. Our staff maintains an outstanding  relationship with exploration and construction contractors across Alaska  enabling us to provide  geotechnical engineering services tailored to specific   project needs, while maintaining tight controls on cost, schedule, and performance.
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Click on the categories below for more in-depth knowledge about our geotechnical engineering services.</h4>
					<br/>
					{{! use a different name for this.... probably subPageInlineUl }}
					<ul class="clientEndorsementIndex">
					{{#each geotechnicalEngServices}}
						<li>{{#if link}}<a target="_self" href="{{link}}">{{title}}</a>{{else}}{{title}}{{/if}}</li>
					{{/each}}
					</ul>
				</div>
			</div>
		</div>
</template>

<!-- INDEX -->

<template name="services_geotechnical_engineering__subsurface_exploration">
	
		
</template>
<template name="services_geotechnical_engineering__soil_and_bedrock">
		
		<div class="container subPage">
			{{#each explorationMethods}}
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-3">
					<img src="/img/{{image}}"/>
				</div>
				<div class="col-xs-12 col-md-9">
					<h2 style="text-transform:initial;">{{title}}</h2>
					<p>{{firstParagraph}}</p>
					{{{rawData}}}
				</div>
			</div>
			<h5 class="bottomYellowLine"></h5>
			{{/each}}
			{{! hard coding test-pit because it has a long UL}}
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-3">
					<img src="/img/services_geotechnical_enginnering__testpit.jpg"/>
				</div>
				<div class="col-xs-12 col-md-9">
					<h2 style="text-transform:normal;">Test Pit Excavation</h2>
					<p>Oftentimes, factors such as project budget, site access, subsurface composition, and/or drill rig availability, make geotechnical soil boring/coring methods impractical, inappropriate, and/or cost-prohibitive.  Therefore, we often employ mechanical excavating equipment to conduct subsurface explorations in the form of open test pit excavations. Excavation equipment is fairly commonplace (even in more remote areas), relatively inexpensive to operate, and tracked excavators (with skilled operators) can negotiate almost any type of terrain.  Therefore, mechanical excavators play an important role in geotechnical exploration.</p>
					<p>Test pit excavations can reveal a lot of visual information about the shallow subsurface that soil boring/coring cannot, including (but not limited to): </p>
					<ul>
						<li>Vertical and horizontal material contacts; </li>
						<li>Actual particles size of large-diameter soil particles (i.e., gravel/cobble/boulders);</li>
						<li>Nature and extent of any buried debris;</li>
						<li>Differentiate between bedrock and large boulders in the shallow subsurface;</li>
						<li>The collection of large (bulk) samples.</li>
					</ul>
					<p>However, test pit excavations have several drawbacks, including (but not limited to): </p>
					<ul>
						<li>Excessive ground disturbance;</li>
						<li>Limited exploration depth (depending upon equipment size and excavation footprint);</li>
						<li>Lack of ability to conduct in-situ geotechcnial testing/sampling such as SPT/MPT, Shelby tubes, etc.</li>
					</ul>
				</div>
			</div>
			<h5 class="bottomYellowLine"></h5>
		</div>
</template>



<template name="services_geotechnical_engineering__soil_sampling_methods">
		
		<div class="container subPage">
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12 col-md-12">
					<p>Our qualified exploration subcontractors offer a variety of subsurface exploration methods, equipment, and technologies.  We select the most appropriate exploration method(s) to provide the most relevant subsurface information for a given project.</p>
				</div>
			</div>
		</div>
		<div class="container subPage">
			{{#each soilSamplingMethods}}
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12">
					<h2 style="text-style:underline;text-transform:initial;">{{title}}</h2>
				</div>
			</div>
			<div class="row subPage md-flex md-flex-wrap">
				
				<div class="col-xs-12 col-md-6">
					
					<p><strong>Purpose and Procedure:&nbsp;</strong>{{firstParagraph}}</p>
					{{! needs some margin....}}

					<b>Pros:</b>

					<ul>
					{{#each pros}}
						<li>{{{this}}}</li>
					{{/each}}
					</ul>
					<b>Cons:</b>
					<ul>
					{{#each cons}}
						<li>{{{this}}}</li>
					{{/each}}
					</ul>
				</div>
				<div class="col-xs-12 col-md-6">
					<img src="{{image}}">
				</div>
			</div>
			<h5 class="bottomYellowLine"></h5>
			{{/each}}
			{{! hard coding test-pit because it has a long UL}}
			
			<h5 class="bottomYellowLine"></h5>
		</div>
</template>






<!-- index geotechnical_engineering - surface and subsurface hydrology and drainge design /services/geotechnical_engineering -->

<template name="services_geotechnical_engineering__surface_hydrology">
	
		<div class="container subPage">
			{{#each surfaceHydrology}}
			<div class="row subPage md-flex md-flex-wrap">
				<div class="col-xs-12">
					<h2 style="text-style:underline;text-transform:initial;">{{title}}</h2>
				</div>
			</div>
			<div class="row subPage md-flex md-flex-wrap">
				
				<div class="col-xs-12 col-md-9">
					
					<p>{{blurb}}</p>
			
				</div>
				<div class="col-xs-12 col-md-3">
					{{#if img}}
					<img src="/img/{{img}}"/>
					{{/if}}
				</div>
			</div>
			<h5 class="bottomYellowLine"></h5>
			{{/each}}
			
		</div>	
</template>

<template name="services_geotechnical_engineering__management">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Our team of organized professional engineers and geologists are available to provide construction management services should your project require it. We have managed projects for a range of geotechnical related disciplines, from spearheading teams of QA/QC inspectors for large North Slope infrastructure projects to coordinating and directing the construction of subgrade refrigeration systems under buildings.
			</p>
		</div>
	</div>
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>We pride ourselves on our ability to deliver projects on time and on budget, and our background in geotechnical engineering gives us a unique perspective into managing a construction project, that can provide great value for your project.
			</p>
		</div>
	</div>
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>No project is too big or small for our team, please contact us with any questions you may have regarding our construction management capabilities.</p>
		</div>
	</div>
</div>
	<br/>
</template>

<template name="services_geotechnical_engineering__other">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			{{! use a different name for this.... probably subPageInlineUl }}
			<ul class="clientEndorsementIndex">
				{{#each other_services}}
				<li>{{#if link}}<a target="_self" href="{{link}}">{{title}}</a>{{else}}{{title}}{{/if}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>At NGE-TFT, we specialize in subsurface exploration, design, and construction in both arctic and sub-arctic regions.  We provide a wide-range of professional engineering services that include: subsurface exploration and monitoring; geotechnical, civil, and structural design; site and project feasibility evaluations; constructability assessments; cost analysis; and construction management. Our diverse experience provides us with a unique insight into the processes required to adequately evaluate geotechnical conditions and develop suitable and practical geotechnical engineering design and construction recommendations. 
			</p>
		</div>
	</div>
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>We tailor our professional engineering services to meet specific project needs in an effort to help increase value and reduce project overhead. For smaller projects and preliminary assessments, we develop a low cost approach to save time and resources for the client. For larger, more complex projects, we develop a scope of service geared to maximize data collection for the design team, minimize cost and time requirements, and provide clear, concise documentation of the work completed; along with pertinent engineering conclusions and recommendations.
			</p>
		</div>
	</div>
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Our staff of professional engineers and geologists is experienced in a wide range of subsurface exploration techniques and cold-region construction methods.  Our staff maintains an outstanding relationship with exploration and construction contractors across Alaska enabling us to provide geotechnical engineering services tailored to specific project needs, while maintaining tight controls on cost, schedule, and performance.</p>
		</div>

	</div>
</div>
</template>

<template name="services_icc_special_inspection">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12">
			<h2>ICC Special Inspection</h2>
			<p>The International Code Council (ICC) was established in 1994 as a non-profit organization dedicated to developing a single set of comprehensive and coordinated construction codes aimed at protecting the health, safety, and welfare of the public at large by creating safe buildings and communities. ICC Special Inspection involves the inspection of select construction practices by certified ICC Special Inspectors to help ensure adherence to local, national, and/or international building codes and standards.  ICC Special Inspectors are required to demonstrate the ability to apply technical specification and code compliance through the completion of the ICC examination and certification process. ICC certification examinations are maintained to the highest standards and include continuous review by committees of experienced professionals. Most building departments, state agencies, and third-party entities recognize ICC certification as the single most significant codes and standards credentials that building professionals can attain.</p>
			<p>Our ICC Special Inspectors maintain current certifications in all of their respective inspection disciplines, and maintain the highest level of integrity, honesty, and fairness required by the ICC Code of Ethics (see below).  Our ICC Special Inspectors are recognized by both local contractors and code enforcement officials as being consummate professionals and are setting the bar for ICC Special Inspection in Alaska.</p>
			<br/>
			<h2>ICC Code of Ethics</h2>
			<p>The protection of the health, safety and welfare of the public, by creating safe buildings and communities, is the solemn responsibility of the International Code Council (“ICC”) and all who participate in ICC activities. Recognizing this, the ICC advocates commitment to a standard of professional behavior that exemplifies the highest ideals and principles of ethical conduct. The governing concepts embodied in this philosophy are characterized herein, for the benefit and guidance of those so engaged, and for the enlightenment of the public so served.</p>
			<p>Each individual participating in an ICC activity shall:</p>
			<ul>
				<li>Support the mission of the ICC to provide the highest quality codes, standards, products and services for all concerned with the safety and performance of the built environment.</li>
				<li>At all times, act in an ethical manner, comply with the ethical rules and regulations related to his or her profession, and avoid conflicts of interest.
					Demonstrate integrity, honesty, and fairness while participating in ICC activities.</li>
				<li>For ICC certified individuals, maintain professional competence in all areas of employment responsibility and encourage the same for colleagues and associates.</li>
				<li>Act in accordance with the Bylaws and Policies of the International Code Council, including this Code of Ethics.</li>
			</ul>
			<p>The ICC Board of Directors may take any actions it deems necessary in order to enforce this Code of Ethics and to preserve the integrity of the International Code Council.</p>
			<p><b>Please click on an inspection item below to learn more about the inspection service.</b></p>
		</div>

	</div>
</template>
