<template name="simpleUpload">
	{{#if currentUser }}
	{{>simpleUploadOwner}}
	<input type='file' name='…' class='myFileInput'>

	<table class="table" style="background-color:white;">
		<thead>
		<tr>
			<th>Name</th>
			<th>Size</th>
			<th>Date uploaded</th>
			<th>Owner</th>
			<th>Send Reminder</th>
			<th>Delete</th>
		</tr>
		</thead>
		<tbody>
			{{#each getDocs}}
			<tr>
				<td> 
					<a href="{{this.url}}" target="_blank"> {{original.name}}</a>
				</td>
				<td>{{original.size}} - {{original.type}}</td>
				<td>{{uploadedAt}}</td>
				<td>{{>simpleUploadOwner}}</td>
				<td>{{#if owner}}<button class="btn emailLink">{{#if emailSent}}Send Again{{else}}Email link{{/if}}</button>{{/if}}</td>
				<td>
					<a href="#" class="removeFile">Delete</a>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{else}}
	<h2>You must be logged in to view this page</h2>
	{{/if}}
</template>
<template name="simpleUploadOwner">
<select class="fileOwner">
{{#each getUsers}}
	<option value="{{_id}}" {{selected}}>{{#with emails.[0]}}{{address}}{{/with}}</option>
{{/each}}
</select>

{{! simple drop down to select a user to use as the 'owner'}}
</template>
