<template name="users">
<div class="container" style="background-color:white">
{{#if currentUser }}
{{#if isAdmin}}
	<h2>Create new User</h2>
		<fieldset>Email</fieldset>
		<div class="row">
			<div class='col-xs-12 col-sm-6'>
				<input type="text" id="email" placeholder="EMAIL"/>
			</div>
			<div class='col-xs-12 col-sm-6'>
				<input type="text" id="username" placeholder="Username"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<input id="pwd" type="password" placeholder="PASSWORD"/>
			</div>
			<div class="col-xs-12 col-sm-4">
				<input id="pwd_c" type="password" placeholder="Confirm PASSWORD"/>
			</div>
			<div class="col-xs-12 col-sm-4">
				<button class="btn btn-status" id="makeUser">Create</button>
			</div>
			<!-- TODO
 			<div class="col-xs-12 col-sm-4">
				<label>Is administrative</label>
				<input id="is_admin" type="checkbox"/>
			</div>
			-->
		</div>
		<br/>
		
		

<table class="table" style="background-color:white;">
	<thead>
		<th>Email</th><th>username</th>
	</thead>
	<tbody>
		{{#each getUsers}}
		<tr>
			<td>
				{{#with emails.[0]}}{{address}}{{/with}}
			</td>
			<td>
				{{username}}
			</td>
			<td>
				<a class="remove">Delete</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{else}}
<h2>Access denied</h2>
{{/if}}
{{else}}
<h2>You must be logged in to view this page</h2>
{{/if}}
</div>
</template>