
<template name="services_geotechnical_engineering__computer_modeling">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Groundwater Seepage</h4>
				<p>We use Geostudio’s SEEP/W program to analyze the effects of engineering projects on groundwater seepage and excess pore-water pressure dissipation problems within porous materials such as soil and rock. We have performed analyses for injection wells in permafrost, frozen core dams, dewatering projects and slope stability projects. Our studies have varied from simple models requiring only a few days to develop and study to highly complex coupled models requiring many months of study and analysis. We can tailor and develop a model of any complexity to meet the needs of your project.</p>
			</div>
		</div>
		<br/>
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Pile Capacity Analysis</h4>
				<p>We use a program called GRLWEAP from Pile Dynamics, Inc (PDI) to complete a driving analysis for a given project. GRLWEAP uses a one-dimensional Wave Equation to model the pile response to driving. The program predicts the driving stress, hammer performance and the relation between pile bearing capacity and net set per blow. GRLWEAP not only does vertical pile but also battered piles (driven at an angle) and horizontal piles (culverts). A site specific analysis will be completed for each site using the given soils onsite, the selected pile size and the selected driving hammer. We also use the program to complete a drivability analysis for the project. As we recommend in our geotechnical reports, this should be used to determine the final depth of the pile based on the anticipated loads.</p>
			</div>
		</div>
		<br/>
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Seismic Analysis</h4>
				<p>We typically recommend a seismic analysis for a project when (for example) we think there is a potential for liquefaction of the subsurface material, or we need to determine the peak surface accelerations and spectral response accelerations. We use EduPro Civil System’s. ProShake and Geostudio’s Quake/W software programs to evaluate the grounds response to earthquakes by generating a representative soil profile and applying representative earthquake motions to the underlying bedrock.</p>
			</div>
		</div>
		<br/>
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Slope Analysis</h4>
				<p>We use SLOPE/W program to analyze the slope stability of engineering projects under both static condition, and pseudo-static condition. SLOPE/W is the leading slope stability CAD software product for computing the factor of safety of earth and rock slopes. SLOPE/W can effectively analyze both simple and complex problems for a variety of slip surface shapes, pore-water pressure conditions, soil properties, analysis methods and loading conditions. We have performed analyses for cut slope, fill slope, with or without reinforcements for various projects. MOA requires slope stabilization study of any site improvements that generate slope steeper than 2H:1V, or projects that located at Seismic Hazard Zones 4 and 5.</p>
			</div>
		</div>
		<br/>
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Thermal Modeling</h4>
				<p>We uses Geostudio’s TEMP/W and SEEP/W programs to analyze the effects of engineering projects on subsurface thermal conditions. We have performed analyses for buildings, frozen core dams, roads, freeze-back piles, and injection wells in both arctic and subarctic environments and we can tailor our models to meet the needs of a wide variety of projects. Our studies have varied from simple models requiring only a few days to develop and study to highly complex coupled thermal/seepage models requiring many months of study and analysis. This type of analysis provides valuable insight into the thermal performance and environmental impact of engineering projects. Over time, the presence of structures changes the subsurface thermal regime which can damage infrastructure through differential settlements from thawing permafrost, frost heaving, and frost jacking. We can develop a model of any complexity to meet the needs of your project.</p>
			</div>
		</div>
		<br/>
	</div>
</template>