<template name="services_geotechnical_engineering__dam_inspection">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>We have been involved in all stages of dam design and construction, ranging from water storage reservoir impoundments for fresh water supply to salmon hatcheries and fish processing facilities, to tailings storage embankments for gold ore processing facilities.  We use a combination of sound engineering principles, geologic and hydrologic data, computer modeling, and construction experience to design dams which are well suited for their purpose and location; while considering less tangible factors such as constructability and material/equipment availability.</p>
				<p>We have also been approved by the Alaska Department of Natural Resources Division of Mining, Land & Water Dam Safety and Construction Unit as a qualified dam inspection firm and routinely perform periodic dam safety inspections across Alaska.</p>
			</div>
		</div>
		<br/>
	</div>
</template>
<template name="services_geotechnical_engineering__dam_inspection___inspection">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>The Alaska Department of Natural Resources Division of Mining, Land & Water Dam Safety and Construction Unit (Dam Safety) requires dam owners to have their dams routinely inspected by a registered professional engineer.  These inspections are referred to as Periodic Safety Inspections (PSIs). We have performed numerous periodic safety inspections for both rural and urban dams in the State of Alaska.  We maintain a good working relationship with the engineers at Dam Safety and we are successful at helping our clients maintain recognize and address safety issues with their dams so that they can comply with the Dam Safety program.  If our inspections identify safety issues that require engineering design, we also provide <a href="/services/geotechnical_engineering/dam_inspection___design">design services for dam repairs, upgrades, replacements as well as new construction.</a>
			</p>

		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__dam_inspection___inspection_img_1.jpg"/>
		</div>
	</div>
	<br/>
</div>
</template>

<template name="services_geotechnical_engineering__dam_inspection___design">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>We have design a number of dams and dam repairs/upgrades across the state including earthen dams, reinforced concrete dams, and spillway upgrades.  We have an excellent working relationship with The Alaska Department of Natural Resources Division of Mining, Land & Water Dam Safety and Construction Unit (Dam Safety) and we are familiar with the permitting requirements involved with dam projects.  Our dam design projects have included dams within Anchorage city limits as well as very remote locations.
			</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__dam_inspection___design_img_1.jpg"/>
		</div>
	</div>
	<br/>
</div>	
</template>

<template name="services_geotechnical_engineering__dam_inspection___construct">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>We have coordinated and/or monitored the construction of several dam construction projects both in remote locations and within the Anchorage area. We are familiar with the challenges of working in very remote locations and we work closely with construction contractors to help meet project design objectives.
			</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__dam_inspection___construct_img_1.jpg"/>
		</div>
	</div>
	<br/>
</div>	
</template>