<!-- index for 2.1.4 Earthworks, Pavement Sec. Design, and U.U. Works -->
<template name="services_geotechnical_engineering__earthworks">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>All forms of development (e.g., residential, commercial, industrial, public infrastructure, etc.) typically involve some level of earthworks (i.e., excavation/fill) to construct the necessary design elements and/or achieve the desired grade.  The means by which earthworks are conducted at a given site are driven by many factors including (but not limited to):</p>
				<ul>
					<li>the surface and subsurface conditions encountered;</li>
					<li>the grade of any fill material to be used;</li>
					<li>the type of earthworks equipment to be used; and/or</li>
					<li>the intended use of the design elements being constructed.</li>
				</ul>
				<p>The primary concerns associated with earthworks generally center around constructing a subbase that will support the overlying improvements with minimal risk of settlements and/or differential movements within the subbase and underlying native soils.  Proper earthworks are essential in subarctic and arctic climates, as they help to reduce the impact that frozen soils (i.e., seasonal ground frost or permafrost) may have on overlying improvements.  Furthermore, Alaska’s varied topography, along with its location within a seismically active region of the world, increase the necessity for geotechnical assessment during the design phase and proper earthworks during construction to help reduce the impact that any subgrade failures may have on the proposed improvements.</p>
			</div>
		</div>
		<br/>
		<br/>
	</div>
</template>


<template name="services_geotechnical_engineering__earthworks___cut">
	
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>We can provide a wide-variety of cut and fill recommendations depending upon the needs of a given project.  Some common examples include:</p>
			<ul>
				<li>Mass grading requirements</li>
				<li>Removal (over-excavation) of deleterious, organic-rich, or non-compact soils</li>
				<li>Fill placement and compaction requirements</li>
				<li>Maximum cut/fill slopes</li>
				<li>Fill gradation/moisture requirements</li>
				<li>Fill surcharging</li>
				<li>Frozen fill placement requirements</li>
				<li>Flowable fill requirements</li>
				<li>Stockpiling requirements</li>
			</ul>
		</div>
	</div>
</div>	
</template>

<template name="services_geotechnical_engineering__earthworks___soil">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>
			</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			
		</div>
	</div>
</div>	
</template>

<template name="services_geotechnical_engineering__earthworks___slope">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>MOA requires slope stabilization study of any site improvements that general slope steeper than 2H:1V and/or projects located at Seismic Hazard Zones 4 and 5. The MOA recommend a pseudo-static seismic load of 0.3g for Seismic Hazard Zones 1, 2 and 3; while a pseudo-static seismic load of 0.2 g for Seismic Hazard Zones 4 and 5. We utilize SLOPE/W to simulate the subsurface condition at the project site in both static and pseudo-static conditions. MOA requires safety factor of 1.7 under static condition, and safety factor of 1.1 pseudo-static condition. We can also provide slope reinforcement recommendation if the proposed cue/fill slope does not acquire adequate safety factor on its own.</p>
		</div>
	</div>
</div>
	<br/>
</template>

<template name="services_geotechnical_engineering__earthworks___retain">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Depending on local code requirements, retaining walls taller than 4-feet typically need to be designed by a licensed professional engineer.  We offer retaining wall design services for all types of retaining walls including mechanically stabilized earth (MSE) walls, gravity walls, cantilever walls, gabion walls, etc. We have designed retaining walls for residential and commercial applications. We tailor our retaining wall designs to match the aesthetic requirements of our client while following sound engineering principles. We can offer complete wall design packages or provide wall design/construction requirements to your civil engineer for incorporation into the final design.</p>
		</div>
	</div>
</div>
	<br/>
</template>

<template name="services_geotechnical_engineering__earthworks___soil_compaction">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Shallow Compaction:</h4>
				<p>Mechanical compaction is the process of densifying (i.e., compacting) loose (unconsolidated) soils through repeated passes by mechanical equipment (e.g., drum/sheepsfoot rollers, vibrating plate compactors, etc.).  The semi-static weight and/or vibratory action of the equipment compacts the unconsolidated soils to a specified level of compaction determined by a geotechnical engineer and suitable for supporting the proposed loads.  Mechanical compaction is the standard for most grading projects, but has limited capactive penetration potential based on the size of the equipment used and the capacitive effort applied.  Therefore, most mechanical compaction is generally applied to relatively thin lifts of fill (typically more than 2 ft in thickness – depending upon the size/type of the equipment used) so that the entire vertical section of fill material is properly compacted. We provide mechanical compaction recommendations for a wide variety of projects and conditions as well as provide mechanical compaction testing services during construction.</p>
			</div>
		</div>
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Deep Compaction:</h4>
				<p>Deep ground improvement techniques can be effective for projects where loose, unconsolidated soils occur at depth and where over-excavation and fill replacement (using standard mechanical compaction techniques) are not feasible and/or cost effective.  Some common instances when deep ground improvement techniques may be applicable include (but are not limited to):</p>
				<ul>
					<li>Recently thawed permafrost soils (particularly sand-rich soils);</li>
					<li>aeolian deposits (i.e. wind-deposited soils);</li>
					<li>domestic landfills; and</li>
					<li>mass fill that was placed without any capacitive effort.</li>
				</ul>
				<p>Three of the more common deep ground improvement techniques which have been used successfully in Alaska include:</p>
				<ol>
					<li><u>Deep dynamic compaction</u> - performed by dropping a large weight from height using a crane or other lifting device.  The impact from the falling weight serves to compact the underlying soils.</li>
					<li><u>Vibrocompaction (a.k.a vibroflotation)</u> - performed by inserting a vibrating probe (known as a vibroflot) into the ground using a water jet to loosen the native materials   The vibratory action is typically provided by a vibratory pile hammer attached to the end of the probe.</li>
					<li><u>Surcharging/precompression</u> - for highly compressible, normally consolidated fine grained soils, precompressing the soils prior to site development can be accomplished with a surcharge fill that remains in place while the underlying soil consolidates. Wick drains inserted into the soil can accelerate the time required for the soils to consolidate by providing a shorter path for excess water to dissipate.</li>
				</ol>
				<p>These deep ground improvement techniques have been proven to be effective in various deep ground improvement scenarios, given that the proper technique is selected for the existing subsurface conditions. A geotechnical engineer should always be consulted prior to the preparation and execution of any deep ground improvement plan so that the site conditions can be properly evaluated and an appropriate approach can be designed to suit the site conditions and design criteria.</p>
			</div>
		</div>
	</div>
	<br/>
</template>

<template name="services_geotechnical_engineering__earthworks___mech">

<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>
			</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			
		</div>
	</div>
</div>	
</template>

<template name="services_geotechnical_engineering__earthworks___struct">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<h4>Structural Pavement Section Design:</h4>
			<p>Pavement surfaces (asphalt, concrete, etc.), and the performance of a pavement surface over time, are primarily controlled by the subgrade materials which underlie the pavement and the presence (or lack thereof) of water in the subgrade (from surface runoff, groundwater, etc.). In most cases, an engineered structural fill section (i.e., pavement section) is constructed above the existing soils in an effort to support the overlying traffic loads and reduce the potential for differential settlements which can damage the pavement surface; resulting in rutting, cracking, potholing, etc.</p>
			<p>Properly constructed pavement sections are especially important in cold-weather climates; where (given the right conditions) freezing air temperatures can result in the formation of ice lenses in the pavement subgrade.  Ice lenses can result in the formation of frost heaves and, upon thawing, significantly reduce the bearing capacity of the subgrade by introducing large amounts of water into the subgrade.   As a result, the State of Alaska and the Municipality of Anchorage both require that engineered pavement sections be designed for their road projects, runways, etc. to help reduce the potential for frost-related damage and prolong the service life of the pavement surface.</p>
			<p>There are several factors to consider when developing design recommendations for a pavement section, whether it be for a private driveway or parking lot, municipal or state-operated road or highway, aircraft runway, or unpaved rural roadway.  We have extensive experience designing practical pavements sections which are well-suited for their location and intended use. Furthermore, we understand that conventional road construction in rural/remote Alaskan settings can be cost prohibitive, and we have developed practical design options to help reduce construction and maintenance costs by increasing constructability and extending the service life of the pavement section.</p>
		</div>
	</div>
	<br/>
</div>	
</template>

<template name="services_geotechnical_engineering__earthworks___trench">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>When  installing  deep  utilities,  trench  shoring  is  typically  required  to  minimize  the excavated  area.  There  are  several  different  methods  of  trench  shoring  and  should  be determined  for  the  specific  project.  The  most  common  type  of  trench  shoring  is  trench boxes.  These  are  prebuilt  and  certified  steel  walls  (trench  box)  that  use  braces  between each steel wall. Side shields are commonly placed on the ends to enclose the entire area. There  is  a  wide  range  of  trench  boxes  available.  For  project  that  cannot  use  a  typical trench box, we can design a sheet pile wall with tie back anchors if required.</p>
		</div>
	</div>
	<br/>
</div>	
</template>