<template name="services_geotechnical_engineering__foundation_design">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>The diverse terrain, varying geologic conditions, and extreme climate of Alaska, coupled with a general lack of adequate transportation infrastructure, all combine to a provide wide-variety of foundation design and construction challenges. As such, we offer an array of foundation design and evaluation methodologies incorporating a variety of proven foundation construction and repair/upgrade techniques.  Our varied experience designing and constructing foundation systems across Alaska provides us with a unique insight into the constructability and functionality of specific foundation systems; enabling us to tailor our foundation design recommendations to appropriately suit the intended design function, project site location, and construction materials/equipment availability.</p>
				<br/>
			</div>
		</div>

	</div>
</template>


<template name="services_geotechnical_engineering__foundation_design___conventional">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>Conventional poured-concrete foundations are typically used for applications where a shallow, heated foundation is to be constructed.  Poured-concrete foundations are usually the most cost-effective foundation construction method available in developed areas where competent/stable subgrade materials are present.  Some common examples of shallow concrete foundations include: 
			</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<ul>
				<li>strip and spread footings;</li>
				<li>thickened-edge slabs;</li>
				<li>grade beams</li>
				<li>mat foundations</li>
			</ul>
		</div>
	</div>
	
</div>	
</template>

<template name="services_geotechnical_engineering__foundation_design___alternative">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__foundation_design___alternative_img_1.jpg"/>
		</div>
		<div class="col-xs-12 col-md-6">
			<p>Deep foundations are typically used when dealing with cold foundations (foundations allowed to freeze), areas of deep poorly placed fill and/or peat, areas with shallow ground water with poorly placed fill and/or peat, and areas with liquefiable soils. Basically deep foundation are used when it is more cost effective or time effective, depending on the scope of the project, to utilize deep foundations rather than excavate the material that is not suitable for load bearing and replaced with structural fill. The deep foundations transfer the loads from the structure past the shallow soils to deeper soils that are suitable as load bearing. 
			</p>
		</div>
	</div>
	{{#each foundations}}
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			{{! image placeholder}}
			
			<img src="/img/{{img}}"/>
		</div>
		<div class="col-xs-12 col-md-6">
			<p><strong>{{title}} -</strong>{{blurb}} 
			</p>
		</div>
	</div>
	{{/each}}
	<br/>
</div>	
</template>

<template name="services_geotechnical_engineering__foundation_design___frozen_pile">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>Frozen (a.k.a. ad-freeze) pile foundations are generally used for structures situated upon thaw-unstable permafrost. We typically recommend one of two types of pile foundation installation in permafrost soils. The first is Drill & Drive pile foundations and the second is Drill & Slurry pile foundations. In both cases, pile capacity is primarily achieved through the frozen bond (a.k.a. adfreeze strength) which develops between the permafrost and the outside surface of the pile/slurry following pile installation. 
			</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__foundation_design___frozen_pile_img_1.jpg"/>
		</div>
	</div>

	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__foundation_design___frozen_pile_img_2.jpg"/>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<p>Drill & Drive pile foundations are a less traditional method of pile installation and consist of the drilling of an undersized pilot hole to provide a conduit into the permafrost though which to install a driven pile foundation. A pile is driven into the open pilot hole using either a vibratory or impact pile hammer (or combination of both).  Pile capacity is primarily achieved through the frozen bond (a.k.a. adfreeze strength) which develops between the permafrost and the outside surface of the pile following pile installation.</p>
		</div>
	</div>

	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>Drill & Slurry pile foundations have been the primary foundation construction method on Alaska’s North Slope for the past 40 years.  An oversized pilot hole is drilled at each pile location and a smaller-diameter pile is either set on the bottom of the pilot hole or suspended above the bottom of the pilot hole from above. The annulus of the pilot hole is then filled with an aggregate-water mixture (a.k.a. sand slurry) which ultimately freezes in-place to provide adfreeze strength to the pile foundation. 
			</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__foundation_design___frozen_pile_img_3.jpg"/>
		</div>
	</div>

		<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			
		</div>
		<div class="col-xs-12 col-md-6">
			<p>We have designed frozen pile foundations for a range of structures, and for locations ranging from Pump stations 1, 3, 4 & 9 to Kotzebue to the North Slope of Alaska. </p>
		</div>
	</div>
</div>	
</template>

<template name="services_geotechnical_engineering__foundation_design___refrig">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Active or passive refrigeration systems are typically used when a building located upon permafrost, must be in contact with the ground, and insulation alone is not sufficient/cost effective to prevent the heat flux from the building melting the permafrost below.</p>
			<p>We typically recommend passive refrigeration in areas where the system can provide sufficient cooling capacity to maintain frozen ground beneath the structure during the summer months. Generally we recommend thermosyphons for use in applications that require passive cooling systems. Thermosyphons are gas-filled, sealed pipes that are capable of transferring heat from a warmer location to a colder location. Typically the thermosyphons are filled with pressurized carbon dioxide (CO2). The pressure used in the thermosyphons defines the temperature at which the CO2 changes from a gas to a liquid. To maintain permafrost, the liquid CO2 needs to boil and change to a gas at a temperature below the freezing temperature of water. The CO2 gas will then revert to a liquid at a lower temperature. Within a sealed thermosyphon, the gas will rise to the top of the thermosyphon, where a radiator is located. When the ambient air temperature around the radiator is low enough to remove the latent heat of the CO2 gas, it turns into a liquid and flows back down the thermosyphon. The warmer soil temperatures then boil the liquid CO2, absorbing heat from the ground. The CO2 gas then rises up to the radiator, repeating the cycle. By installing thermosyphons under the footprint of a structure, heat can be removed from the area, thus cooling the sub-grade material.</p>
			<p>Drill & Slurry pile foundations have been the primary foundation construction method on Alaska’s North Slope for the past 40 years. An oversized pilot hole is drilled at each pile location and a smaller-diameter pile is either set on the bottom of the pilot hole or suspended above the bottom of the pilot hole from above. The annulus of the pilot hole is then filled with an aggregate-water mixture (a.k.a. sand slurry) which ultimately freezes in-place to provide adfreeze strength to the pile foundation.</p>
			<p>For projects where a passive refrigeration system cannot provide sufficient cooling capacity to maintain frozen ground below the structure during the summer months, then we will recommend either a combination of an active/passive refrigeration system or a stand-alone active refrigeration system. Active refrigeration systems typically consist of a refrigeration unit that circulates coolant under the building, they can be expensive to operate and that is why we try to combine them with a passive system wherever possible.</p>
			<p>We have designed refrigeration systems for a range of projects, over an area from the North Slope down to Bethel.</p>
		</div>
	</div>
	<br/>
</div>	
</template>

<template name="services_geotechnical_engineering__foundation_design___tower">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>We have completed numerous tower foundation spread over Alaska. Some of our tower foundation designs are single pile, multiple piles, helical pile, pad and pier, and caisson foundations. Each of our tower foundation is designed for the unique loads and access for the project site. Depending on the type, design, and location of the tower guy wires may be required. When guy wires are required, the anchors should be installed in a fashion that the anchor will carry the tower load but also any other loads such as frost heave loads. Soil anchors will need to be installed to a depth to resist seasonal frost jacking. Soil anchor options include dead man, screw, expanding, and grouted anchors.  In areas with shallow bedrock, rock anchors maybe installed into the bedrock with sufficient embedment depth and grouted in place. 
			</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__foundation_design___tower_img_1.jpg"/>

		</div>
	</div>
	<br/>
</div>	
</template>

<template name="services_geotechnical_engineering__foundation_design___bridge">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>Each bridge foundation is unique based on a wide variety of site specific variables.  We have successfully designed numerous bridge foundations for both highway and pedestrian bridges.  We haves design pile foundations, sheetpile abutments, and traditional concrete bridge abutments.  An important aspect of bridge foundation design includes a scour analysis which requires hydrologic and hydraulic analyses.  We have successfully performed scour analyses for both foundations designed by us and others. 
			</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<!-- <img src="/img/services_geotechnical_engineering__foundation_design___bridge_img_1.jpg"/> -->
		</div>
	</div>
	<br/>
</div>	
</template>

<!-- NOT FINISHED -->
<template name="services_geotechnical_engineering__foundation_design___pile">
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>Nine pin piles were tested in accordance with test method ASTM D 1143.  The “quick load test method” as described in Section 5.6 of the ASTM D 1143 was employed.  A reaction frame was constructed, consisting of two driven pipe piles with a nominal diameter of at least 8 inches with a W14X176 welded to the tops.  A 200 ton hydraulic jack was used to apply loads to the pin piles.  The piles were loaded in 10% increments to the final anticipated load, which was calculated per the Christensen Equation.  Pile failure was determined when continuous jacking was required to maintain load.  Two dial gauges were used to measure pile deflections, which were recorded before and 2 minutes after each load was applied.  Each pile was initially tested at 10 feet, and then at 5 foot increments to 25 feet.  
			</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__foundation_design___pile_img_1.jpg"/>
		</div>
	</div>
	<br/>
</div>	
</template>

<template name="services_geotechnical_engineering__foundation_design___settlement">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>Poor soil and environmental conditions, inadequate foundation design, and/or improper foundation construction techniques, can all lead to differential foundation settlement: which can ultimately lead to varying degrees of damage to any overlying structures.  Key to the proper design and repair of any foundation which has experienced differential settlement is to adequately evaluate the cause(s) for the observed settlements.  The settlement evaluation process can take many forms ranging from visual foundation inspection to subsurface exploration programs aimed at characterizing the foundation subgrade.  Once a cause(s) for any differential foundation settlement has been identified, then a corrective solution can be engineered to help repair the damaged foundation and help prevent any future foundation settlements from occurring.</p>
				<p>Some common foundation settlement repair methods include:</p>
				<ul>
					<li>Driven pin-pile foundation supports</li>
					<li>Helical piers</li>
					<li>Pressure grouting</li>
					<li>Drilled concrete shafts/piers</li>
					<li>Flowable fill</li>
					<li>Passive/active refrigeration systems (for permafrost soils)</li>
				</ul>
			</div>
		</div>
		<br/>
	</div>
</template>

