<template name="services_geotechnical_engineering__geophysical_exploration">

    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <p>We are well-versed in several geophysical methods, equipment, and data reduction techniques useful in geotechnical exploration and evaluation.  Geophysical exploration is an non-invasive tool which uses the measurement of material properties to help assess potential subsurface conditions.  The field of geophysical exploration has grown substantially over the past 30 years, and has earned a good reputation as a relatively cost-effective, non-invasive tool to help supplement traditional subsurface exploration techniques and/or provide stand-alone subsurface information.  Despite their obvious benefits, geophysical exploration techniques should not be viewed as an equal alternative to standard subsurface exploration and careful planning should be used at the beginning of a project to determine what the most appropriate exploration technique/method may be given the assumed subsurface conditions.  Geophysical exploration will not always be appropriate for a given project.</p>
                <p>Click on one of the links to the left to learn more about the different geophysical services that we offer and their respective benefits, challenges, and limitations.</p>
            </div>
        </div>
        <br/>
    </div>
</template>

<template name="services_geotechnical_engineering__geophysical_exploration___ground_penetrating_radar">

    <div class="container subPage">

        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <p>Ground penetrating radar (GPR) is a non-invasive, cost-effective technology which uses pulses of electromagnetic energy to image features in the shallow subsurface.  NGE-TFT provides GPR services to projects across the state where conventional subsurface exploration methods (drilling, excavation, etc.) and/or inspection methods (rebar, slab thickness, etc.) may be prohibitive or undesirable due to equipment mobilization, access, buried utility conflicts, archeological/historical restrictions, or various other factors which exclude physical disturbance of the area being imaged. GPR can also be used in conjunction with standard exploration and inspection techniques to provide an additional level of subsurface information to a project at relatively little cost or effort.  NGE-TFT has successfully employed GPR technology to image buried pipelines and other buried utilities as well as to image shallow bedrock and to quantify organic overburden thicknesses.</p>
                <p>GPR technology works best in dry, electrically non-conductive materials such as sand and gravel, as well as construction materials such as concrete and asphalt.  The effective resolution of GPR varies based on the electrical properties of the materials being imaged and of the antenna frequency employed, but generally it can range from a few inches to upwards of 20-30 feet.  Nevertheless, GPR technology does have limitations, and some surface and subsurface conditions are prohibitive to effective GPR data acquisition.  Generally, a brief site assessment should be conducted prior to the commissioning of a GPR survey to evaluate the site conditions and determine if GPR technology may be a suitable exploration/inspection method for a given project.  New and/or unproven applications for GPR are constantly being discovered and tested, so contact NGE-TFT and let us work together to determine if GPR is a suitable technology for your next project!</p>
            </div>
        </div>
        <br/>
    </div>
</template>

<template name="services_geotechnical_engineering__geophysical_exploration___electrical_resistivity">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <p>Electrical  Resistivity  (ER)  applies  direct  current  or  low-frequency  alternating  current  into  the subsurface  to  determine  the  potential  difference  between  two  points  revealing  the  resistivity and  conductivity  of  the  geological  subsurface  units. This  exploration  technique  is  a  quick  and inexpensive way to image the subsurface while leaving the ground surface unscathed. A number of  electrical  resistivity  arrays  can  be  utilized  depending  on  the  scope and  goals  of  the  project and  can  be  used  independently  or  in  conjunction  with  other  exploration techniques  including borehole  drilling.  Uses  of  ER  exploration  include:  geologic  mapping  of  shallow  bedrock  and permafrost,  volume  estimates  of  shallow  subsurface  leaks  and  liquid  bodies,  locating  mine shafts  and  voids,  mapping  the  extent  of  aquifers,  aquifer  contamination  evaluations,  and archaeological studies. NGE-TFT has successfully used ER to gather resistivity data to be used for the  design in  grounding  systems  for  electrical  substations  and  cell  towers. We  also  employ  the soil  box  resistivity  test  as  a  laboratory  analysis  of  the  resistivity  of  soil  samples  from  the  field. This  method  is  mainly  used  to  determine  the  potential  for  corrosion  of  pipes  and  other metals buried in the tested soils. Electrical  Resistivity  is  limited  to  summer  use  and  should  be  employed  in  soils  that  are unsaturated with rain water. Generally, a brief site assessment should be conducted prior to the commissioning  of  an  ER  survey  to  evaluate  the  site  conditions  and  determine  if  ER  technology may  be  a  suitable  exploration/inspection  method  for  a  given  project.  New  and/or  unproven applications for Electrical Resistivity are constantly being discovered and tested, so contact NGE-TFT and let us work together to determine if ER is a suitable technology for your next project!
                </p>
            </div>
        </div>
        <br/>
    </div>
</template>
<template name="services_geotechnical_engineering__geophysical_exploration___downhole_seismic">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <p>We use Seismic downhole testing to gain information regarding the seismic wave velocities of the materials being tested. Once obtained, we can relate the compression (P) and shear (S) wave velocities to important geotechnical material properties and can be use (for example) in our foundation design or seismic analyzes.</p>
            </div>
        </div>
        <br/>
    </div>
</template>
<template name="services_geotechnical_engineering__geophysical_exploration___spt">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <p>SPT hammer analysis is a geophysical method of measuring the amount of energy that is transferred from a SPT drop hammer to the drill stem (and subsequently to the SPT sampler).  SPT hammer analysis can be critical to the thorough evaluation of potentially liquefiable sand deposits.</p>
                <p>The SPT analyzing equipment measures the hammer energy that is transferred to a standard drill rod section that has been instrumented with accelerometers and strain gauges and is linked directly into the advancing drill stem. Each time the SPT hammer strikes the drill stem, a force and acceleration are measured by the SPT analyzing equipment and are recorded for later data processing. The data output is later used to adjust the measured N-value to the normalized N60 for standard 60% energy transfer into the rods. Compensating for widely variable efficiencies from different SPT rigs and hammer types improves the reliability of soil strength estimates used in geotechnical designs.</p>
            </div>
        </div>
        <br/>
    </div>
</template>