<template name="services_icc_special_inspection__concrete">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>Concrete placement is another key element in the construction of a structure which is performed by ICC Reinforced Concrete special inspectors.  The purpose of concrete placement is to insure that the proper approved mix design is being used.  Proper technique of placement of concrete, proper consolidation of the concrete and rebar clearances are also watched.  Concrete sampling and testing along with test cylinders being made by a trained and certified tester is observed.  Curing temperatures at point of placement are also monitored.</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<img style="margin-bottom:1em;" src="/img/services_icc_special_inspection__concrete_img_1.jpg"/>
		</div>

	</div>
</template>

<template name="services_icc_special_inspection__concrete_reinforcement">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Rebar inspection are performed by ICC Reinforced Concrete certified special inspectors.  Rebar is a key element in a concrete structure.  Our inspectors have the responsibility to review structural drawings and then verify that structural elements are built to the drawings as well as the governing code.  Rebar size and grade along with how the rebar is placed are critical in the structural design of each element.</p>
		
		</div>
		<!--<div class="col-xs-12 col-md-6">-->
			<!--&lt;!&ndash; <img style="margin-bottom:1em;" src="/img/services_icc_special_inspection__concrete_rebar_img_1.jpg"/> &ndash;&gt;-->
		<!--</div>-->
	</div>
	<br/>
</template>



<template name="services_icc_special_inspection__dica">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Post installed concrete anchors require special inspection.  Verification of required type of anchor is performed.  This includes type, grade and length.  There are several different types and methods that can be used and it is the responsibility of the inspector to insure that only the specified type approved by the engineer of record is used.  Hole depths and cleaning of hole is verified along with proper installation of the post installed anchor.  Testing of anchors can be done with calibrated torque wrench or pull test can be performed.</p>
		
		</div>
		<!--<div class="col-xs-12 col-md-6">-->
			<!--&lt;!&ndash; <img style="margin-bottom:1em;" src="/img/services_icc_special_inspection__dica_img_1.jpg"/> &ndash;&gt;-->
		<!--</div>-->
	</div>
</template>

<template name="services_icc_special_inspection__fireproofing">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Fire proofing is performed by certified ICC Fire Proofing special inspectors.  Inspections include prep work on substrate surface conditions, proper temperatures for approved fire proofing material being used.   Finished product visual inspection is conducted followed up by performing thickness testing, density testing and coehesion/adhesion testing.</p>
		</div>
	</div>
	<br/>
</template>

<template name="services_icc_special_inspection__bolting">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Our inspectors are certified ICC Structural Steel and Bolting Special Inspectors.  Inspections are performed on all structural joints and bolted connections.  Observed are done per AISC, American Institute of Steel Construction. Bolts are tested prior to installation using a Skidmore bolt testing apparatus.  Reviewing mill certs and lot numbers on each batch of bolts is performed.  Methods of installed bolt testing are, turn of the nut, twist off bolts, direct tension indicators, snug tight fit application.  Observation of faying surfaces preparation is also part of bolting inspection.</p>
		
		</div>
		<!--<div class="col-xs-12 col-md-6">-->
			<!--&lt;!&ndash; <img style="margin-bottom:1em;" src="/img/services_icc_special_inspection__bolting_img_1.jpg"/> &ndash;&gt;-->
		<!--</div>-->
	</div>
	<br/>
</template>

<template name="services_icc_special_inspection__masonry">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Masonry inspection is performed by ICC Structural Masonry certified special inspectors.   Masonry inspectors observe that the proper construction of masonry is performed.  There are several different elements in the construction of masonry.  Size of CMU block, mortar type and joint spacing, grout type and rebar are all considered in this inspection.  Cleanliness of cells and rebar being secured in cells is inspected.  Grout placement and consolidation of grout is observed along with monitoring temps at time of placement and during the course of curing.</p>
		</div>
	</div>
	<br/>
</template>

<template name="services_icc_special_inspection__pre_post_tensioning">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Pre-stressed and post tensioned inspections are done by certified ICC Pre-Stressed Concrete special inspectors.   Inspections involve placement of rebar and tendons, layout of tendons, tendon drape, proper tendon head placement, tensioning of tendons and recording elongations.  Monitoring concrete curing temperatures and strength is also performed.</p>
		</div>
		<!--<div class="col-xs-12 col-md-6">-->
			<!--&lt;!&ndash; <img style="margin-bottom:1em;" src="/img/services_icc_special_inspection__pre_post_tensioning_img_1.jpg"/>&ndash;&gt;-->
		<!--</div>-->
	</div>
</template>

<template name="services_icc_special_inspection__welding">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Our welding inspectors are AWS certified welding inspectors. Welding inspections consist of 100% visual of all welds.  100% inspections are performed on all full penetration and partial penetration welds.  100% UT, ultrasonic testing, is performed on all full pen welds.  If required other procedures are performed such as magnetic particle testing and liquid penetrant testing.  Review welding certs and procedures are done prior to welding.  Joint prep, preheat and interpass temperatures are monitored.  Inspection are performed in fab shops and in the field.  Inspections are performed per the latest welding codes.</p>
		</div>	
	</div>
</template>

<template name="services_icc_special_inspection__structural">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-12">
			<p>Wood framing inspections start in the foundation walls/footings with seismic anchors embedded in the concrete.  From there sill plate bolting and hold downs are inspected.  Following load paths seismic straps are followed up to the roof diaphragms and drag struts.  Shear wall nailing along with floor and roof nailing are also inspected.</p>
		</div>
	</div>
	<br/>
</template>

<template name="services_icc_special_inspection__soils">
<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>Soils inspection in done by certified ICC Soil Special Inspectors, Civil Engineers or Certified Professional Geologist.  We perform bottom of hole inspection, excavation and material fill inspections.</p>
		
		</div>
		<div class="col-xs-12 col-md-6">
			<img style="margin-bottom:1em;" src="/img/services_icc_special_inspection__soils_img_1.jpg"/>
			
		</div>
	</div>
</template>