
<template name="services_geotechnical_engineering__instrumentation___inclinometer">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>Inclinometers (also known as slope indicators) are precision instruments used to measured horizontal displacements in the subsurface.  Inclinometers are typically used to measure movement when slope stability is a concern for natural slopes, constructed cut/fill slopes, and deep fill projects. The instruments are lowered and raised through a specialty inclinometer casing with precision machined grooves which serve as tracks instrument.  NGE-TFT is experienced as installing the specialty casing and taking inclinometer measurements for engineering studies and construction monitoring.</p>
			</div>
		</div>
		<br/>
	</div>
</template>

<template name="services_geotechnical_engineering__instrumentation___well">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>Key to accurate and representative subsurface instrumentation and/or monitoring is the installation of appropriately designed and constructed instrumentation casing and/or monitoring well casing.  These casings/wells serve as conduits into the subsurface to allow for the proper installation and retrieval of various instruments and/or sampling devices. How the casing/well is constructed during installation will determine if the casing/well will serve as a useful tool for future monitoring efforts or whether it will be a waste of time and money.  We have extensive experience with several common instrumentation casing and monitoring well installation procedures and we have summarized the general purpose and procedure for each method below.</p>
			</div>
		</div>
		<br/>
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Groundwater Level Monitoring Well Casing</h4>
				<p>Groundwater level monitoring wells are a very common geotechnical exploration and monitoring tool which allow for the periodic and/or continual measurement of the groundwater table elevation at a given location using a water level meter and/or piezometer.  The well casing is most often constructed of small-diameter PVC pipe, which is subsequently slotted/perforated and/or open at it bottom end to allow groundwater to flow freely through the well casing.  The depth and length of slotting/perforations is pre-determined by the engineer/geologist on-site and usually corresponds to a depth interval where the groundwater table occurs.  The well casing is inserted into an open borehole, corehole, or excavation and then the annulus/excavation is backfilled with various materials, including (but not limited to): drill cuttings/spoils, sand, gravel, bentonite, grout, etc.  The well casing typically extends above-grade (also known as a stick-up or wellhead) and can (if need be) be protected by a security vault constructed of steel, wood, or some other protective material.  Sometimes, the well casing is cut-off below grade to protect the monitoring well from surface impacts (i.e. vehicles, equipment, animals, vandals, etc.).  In this scenario, a subterranean vault (such as a manhole) is often employed to protect the well casing and allow for casing access.</p>
			</div>
		</div>
		<br/>
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Thermistor Casing</h4>
				<p>Thermistor casing is used to provide a vertical conduit into the subsurface to allow for the insertion of ground temperature monitoring equipment (i.e., thermistor strings), which are used to record the temperature of the surrounding soil/bedrock.  Thermistor casing typically consists of small-diameter PVC pipe, which is sealed at each pipe joint and at it’s ends in an effort to prevent any groundwater from infiltrating into the casing.  Groundwater which seeps into a thermistor casing is subject to freezing; which can plug the inside of the thermistor casing and obstruct instrumentation and/or can freeze instrumentation into the casing, preventing its removal.  In areas where casing leakage is expected, seamless tubing is sometimes placed inside of the casing to add an additional level of groundwater protection and help ensure proper instrumentation. The thermistor casing is inserted into an open borehole, corehole, or excavation and then the annulus/excavation is backfilled with various materials, including (but not limited to): drill cuttings/spoils, sand slurry, grout, etc.</p>
			</div>
		</div>
		<br/>
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<h4>Inclinometer Casing</h4>
				<p>Inclinometer casings are specialized plastic pipes that are used to take inclinometer measurements.  The casings, which come in different diameters, typically have two sets of precision machined grooves which serve as guides for various instruments (e.g., inclinometers, downhole seismic geophones, etc.) to follow during measurements and which keep the instruments oriented in a specific direction.  Inclinometer casings are typically installed for slope stability monitoring in natural slopes and/or constructed fill/cut slopes. The casings are grouted into place using a grout mixture designed for the specific subsurface conditions at a give project.  We have successfully installed inclinometer casing for a number of projects with varying subsurface and surface conditions including within the intertidal zone.</p>
			</div>
		</div>
		<br/>
		<br/>
	</div>
</template>

<template name="services_geotechnical_engineering__instrumentation___ground_water">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>Groundwater level monitoring wells are a very common geotechnical exploration and monitoring tool which allow for the periodic and/or continual measurement of the groundwater table elevation at a given location using a water level meter and/or piezometer.  The well casing is most often constructed of small-diameter PVC pipe, which is subsequently slotted/perforated and/or open at it bottom end to allow groundwater to flow freely through the well casing.  The depth and length of slotting/perforations is pre-determined by the engineer/geologist on-site and usually corresponds to a depth interval where the groundwater table occurs.  The well casing is inserted into an open borehole, corehole, or excavation and then the annulus/excavation is backfilled with various materials, including (but not limited to): drill cuttings/spoils, sand, gravel, bentonite, grout, etc.  The well casing typically extends above-grade (also known as a stick-up or wellhead) and can (if need be) be protected by a security vault constructed of steel, wood, or some other protective material.  Sometimes, the well casing is cut-off below grade to protect the monitoring well from surface impacts (i.e. vehicles, equipment, animals, vandals, etc.).  In this scenario, a subterranean vault (such as a manhole) is often employed to protect the well casing and allow for casing access.</p>
			</div>
		</div>
		<br/>
	</div>
</template>

<template name="services_geotechnical_engineering__instrumentation___thermistor_casing">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>Thermistor casing is used to provide a vertical conduit into the subsurface to allow for the insertion of ground temperature monitoring equipment (i.e., thermistor strings), which are used to record the temperature of the surrounding soil/bedrock.  Thermistor casing typically consists of small-diameter PVC pipe, which is sealed at each pipe joint and at it’s ends in an effort to prevent any groundwater from infiltrating into the casing.  Groundwater which seeps into a thermistor casing is subject to freezing; which can plug the inside of the thermistor casing and obstruct instrumentation and/or can freeze instrumentation into the casing, preventing its removal.  In areas where casing leakage is expected, seamless tubing is sometimes placed inside of the casing to add an additional level of groundwater protection and help ensure proper instrumentation. The thermistor casing is inserted into an open borehole, corehole, or excavation and then the annulus/excavation is backfilled with various materials, including (but not limited to): drill cuttings/spoils, sand slurry, grout, etc.</p>
			</div>
		</div>
		<br/>
	</div>
</template>

<template name="services_geotechnical_engineering__instrumentation___inclinometer_casing">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>Inclinometer casings are specialized plastic pipes that are used to take inclinometer measurements.  The casings, which come in different diameters, typically have two sets of precision machined grooves which serve as guides for various instruments (e.g., inclinometers, downhole seismic geophones, etc.) to follow during measurements and which keep the instruments oriented in a specific direction.  Inclinometer casings are typically installed for slope stability monitoring in natural slopes and/or constructed fill/cut slopes. The casings are grouted into place using a grout mixture designed for the specific subsurface conditions at a give project.  We have successfully installed inclinometer casing for a number of projects with varying subsurface and surface conditions including within the intertidal zone.</p>
			</div>
		</div>
		<br/>
	</div>
</template>

<template name="services_geotechnical_engineering__instrumentation___ground_level">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>We use custom-built thermistor strings to measure and monitor subsurface ground temperatures. The monitoring of ground temperatures can be critical in evaluating the effect of engineering projects on permafrost. We have performed ground temperature monitoring for a range of projects, such as determining when freeze-back piles have reached capacity in permafrost, or evaluating the thaw bulb of buildings founded on permafrost. We have a range of monitoring systems and the ability to custom-build components to meet your project's needs.</p>
			</div>
		</div>
		<br/>
	</div>
</template>

<template name="services_geotechnical_engineering__instrumentation___pore_water">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>We use a series of piezometers to measure and monitor pore water pressure. The monitoring of pore water pressure can be critical in evaluating strength and settlement from the effect of fill placement above saturated silty soils. We have performed pore water pressure monitoring for a range projects, such as construction of new embankment and pads, evaluation of pile stability, evaluation of slope stability, and monitoring for settlement. We have years of experience monitoring pore water pressure with various components that can be adapted to meet your project’s needs.</p>
			</div>
		</div>
		<br/>
	</div>
</template>


<template name="services_geotechnical_engineering__instrumentation___ground_water_temp">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>We use custom-built thermistor strings to measure and monitor subsurface ground temperatures. The monitoring of ground temperatures can be critical in evaluating the effect of engineering projects on permafrost. We have performed ground temperature monitoring for a range of projects, such as determining when freeze-back piles have reached capacity in permafrost, or evaluating the thaw bulb of buildings founded on permafrost. We have a range of monitoring systems and the ability to custom-build components to meet your project's needs.</p>
			</div>
		</div>
		<br/>
	</div>
</template>

<template name="services_geotechnical_engineering__instrumentation___ground_settlement">
	<div class="container subPage">
		<div class="row subPage md-flex md-flex-wrap">
			<div class="col-xs-12 col-md-12">
				<p>We recommend ground settlement monitoring for projects where ground settlements are difficult to predict, are expected to be excessive, or may require long periods of time to stabilize due to soft soils or large volumes of fill placement. We can provide settlement monitoring program recommendations that are appropriate for the site conditions for a given project (and carry out the subsequent monitoring). Settlement monitoring instrumentation is typically accomplished using settlement plates which are placed on the ground surface prior to fill placement, extended to the fill surface during ongoing fill placement activities, and surveyed on a regular basis during the monitoring program. We can also develop innovative, unconventional techniques to meet the special needs and/or project constraints for unique and challenging projects.</p>
			</div>
		</div>
		<br/>
	</div>
</template>

