<template name="services_lab_materials_testing">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-6">
                <h4>Independent Geotechnical Materials Testing Laboratory</h4>
                <p>We specialize in the testing of soils, rock, and engineered construction materials; including aggregate, concrete, and asphalt, for the geotechnical engineering and construction and mining industries. We pride ourselves upon our ability to provide accurate and timely results for our clients. With over 18 years in business, we have the experience that enables us to look at the bigger picture of your project, and help you determine the tests required to provide the most cost effective solution to your project’s testing needs.
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="/img/services_lab_materials_testing_img_1.jpg" />
            </div>
        </div>
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-6">
                <img src="/img/services_lab_materials_testing_img_2.jpg" />
            </div>
            <div class="col-xs-12 col-md-6">
                <h4>Qualifications</h4>
                <p>We are an American Association of the State and Highway Transportation Officials (AASHTO), and US Army Corps of Engineers accredited laboratory. Obtaining and maintaining these accreditations requires us to participate in proficiency sample programs, maintain calibration and training records, and successfully complete inspections from the AASHTO Materials Reference Laboratory (AMRL) and the Cement and Concrete Reference Laboratory (CCRL). Proficiency demonstration in soils, aggregate, concrete, and asphalt is a required standard of all of our technicians. Currently, all NGE-TFT technicians are Western Alliance for Quality Transportation Construction (WAQTC) and American Concrete Institute (ACI) certified.</p>
            </div>
        </div>
    </div>
</template>
<template name="services_lab_materials_testing__construction_materials_testing">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <p>Our laboratory construction materials tests form the backbone of our materials testing lab and are the majority of the tests we perform in the lab. Most of the material properties we (or the client) need can be obtained through performing a combination of the tests listed below.</p>
            <p>In order to obtain accurate material information, it is important to obtain representative samples of the materials being tested. There are various standards that describe the sampling process in detail and we would be happy to discuss this with you should you wish to bring in samples for testing. We are also happy to collect samples for you</p>
            <p>The lists below gives the ASTM standard (where applicable) for each of the construction materials tests we perform, broken down into different types of construction materials. Should you wish a test or require an answer that does not appear to be satisfied by the below tests, we would be happy to discuss other available tests that we can perform or design for you.</p>
        </div>
        <div class="row subPage md-flex md-flex-wrap">

        </div>
        {{#each materials}}
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <h4>{{title}}</h4>
                <p>{{blurb}}</p>
            </div>
            <div class="col-xs-12 col-md-12">
                <ul class="col-xs-12 col-md-12" style="columns: 2; -webkit-columns: 2; -moz-colums: 2">
                    {{#each data}}
                    <li>{{this}}</li>
                    <br/>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</template>
<template name="services_lab_materials_testing__specialty_lab_testing">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-6">
                <p>Should your project require the determination of material properties that are not answered by performing any of the previously listed tests, we also offer several advanced and specialty material tests. We have state-of-the-art triaxial and consolidation testing equipment in our Advanced Testing Laboratory that can be used to perform several types of consolidation tests. We also offer a range of tests that are used in evaluating geotechnical materials corrosivity.</p>
                <p>The list below gives the ASTM standard (where applicable) for several of the specialty tests we perform. Should you wish a test or require an answer that does not appear to be satisfied by the below tests, we would be happy to discuss other tests that we can perform or design for you.</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="/img/services_lab_materials_testing__specialty_lab_testing_img_1.jpg" />
            </div>
        </div>
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-6">
                <img src="/img/services_lab_materials_testing__specialty_lab_testing_img_2.jpg" />
            </div>
            <div class="col-xs-12 col-md-6">
                <ul>
                    {{#each specialty_labs}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
<template name="services_lab_materials_testing__other">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-6">
                    <strong>1. Concrete and Asphalt Mix Design</strong>
                        <p>
                            Proper mix design of portland cement concrete (PCC) is crucial for the production of structural concrete using locally available materials. The goal of a good mix design is to optimize the performance of the PCC across multiple fields of evaluation such as strength, workability, set time, long-term durability, freeze-thaw performance, and economy. We follow ACI procedures for PCC mix designs and have performed mix designs for work in very remote locations. We can employ a wide variety of chemical admixtures in our mix designs as appropriate to meet the specific constraints of each project. We have all of the necessary equipment in house and our engineers have successfully prepared multiple mix designs with using a wide variety of locally available aggregate materials for our own design projects and for contractors desiring a mix design for their local aggregate source.
                        </p>
                        <p>
                            The correct mix design of asphalt cement concrete is crucial for the production of economical pavements made of locally available materials. The goal of a good mix design is to optimize the performance of the asphalt cement concrete across multiple fields of evaluation such as strength, workability, and economy. We prepare hot mix asphalt mix designs using the Marshall method. We have all of the necessary equipment in house and our engineers have successfully prepared multiple mix designs with a wide variety of locally available aggregate materials, including a mix design that was used in Guantanamo Bay, Cuba and Wake Island.
                        </p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <img src="/img/services_lab_materials_testing__other_img_1.jpg" />
                </div>
            </div>
            <br/>
            <br/>
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-6">
                    <br/>
                    <strong>2. Low-Temperature Testing and Storage</strong>
                    <p>We have the ability to perform cold regions materials testing inside of our 10’ by 12’ cold room. We can perform a range of standard tests inside of the cold room, or we can custom design a test to obtain the answer you require. The cold room’s temperature is digitally controlled and we can also store frozen samples for extended periods of time should it be necessary.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <br/>
                    <br/>
                    <img src="/img/services_lab_materials_testing__other_img_2.jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-6">
                    <br/>
                    <strong>3. Mobile Laboratories</strong>
                    <p>We maintain and store in Anchorage, two complete mobile soils laboratories, a mobile asphalt laboratory and a mobile concrete strength laboratory. These laboratories are capable of performing any of our soil, asphalt or concrete tests and are typically used at remote sites. Should you require one of our mobile laboratories, we can custom tailor the equipment to meet your project needs.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <br/>
                    <br/>
                    <img src="/img/services_lab_materials_testing__other_img_3.jpg" />
                </div>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</template>
