<!-- index for Speciality exploration intro -->
<template name="services_geotechnical_engineering__specialty_exploration_method">
		
</template>


<template name="services_geotechnical_engineering__specialty_exploration_method___land">
	
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>We can successfully deploy subsurface exploration equipment to almost any location, environment, or climate; on or off of established transportation networks systems.  Our exploration subcontractors have modified standard exploration equipment to accommodate unique deployment methods and approaches, and we are known for our creativity and ingenuity when it comes to obtaining the geotechnical information needed to properly design and construct remote projects. 
			</p>
			<img src="/img/services_geotechnical_engineering__specialty_exploration_method___land_img_1.jpg" />
		</div>
		<div class="col-xs-12 col-md-6">
			<h4>Some common exploration equipment deployment methods include:</h4>
			<br/>

			{{#each expLandAirWater}}
			<h4>{{title}}</h4>
			<ul>
				{{#each list}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
			{{/each}}
		</div>
	</div>
</div>	
</template>


<template name="services_geotechnical_engineering__specialty_exploration_method___refrig">

<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>We are one of the few firms who have designed and implemented refrigerated “brine” mud drilling exploration to effectively sample permafrost (soil and bedrock) to evaluate the in-situ condition of the permafrost.  Refrigerated “brine” mud drilling involves the use of a saline drilling mud (aka brine) which contains dissolved salt sufficient to depress the freezing point of the brine to some temperature below 32 degrees F.  The brine is refrigerated (i.e., chilled) to a temperature cooler than the permafrost temperature and is circulated down the drill stem to remove any heat associated with the drilling process and help prevent thawing of the surrounding permafrost, while providing all of the usual benefits of a standard drilling fluid (i.e., cuttings removal, annulus caking, etc.).  
			</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__specialty_exploration_method___refrig_img_1.jpg">
		</div>
	</div>
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__specialty_exploration_method___refrig_img_2.jpg" />
	
		</div>
		<div class="col-xs-12 col-md-6">
			<p>The brine mud is usually chilled using a large copper coil which is inserted into the brine mud tank and has some form of coolant (usually glycol) circulating through it to remove heat and chill the brine mud to the desired temperature.  The chilled brine mud is then circulated down-hole where it removes heat (among other things) from the drilling action and recycles the brine mud back to the chilling tank where it is again chilled to the desired temperature.</p>
			<p>Our refrigerated exploration efforts have successfully yielded undisturbed samples of permafrost soil and bedrock which maintain their in-situ ice content, which is critical for effectively evaluating the settlement potential associated with thawing permafrost.
			</p>
		</div>
	</div>
	<br/>

</div>	
</template>

<template name="services_geotechnical_engineering__specialty_exploration_method___backpack">
	
<div class="container subPage">
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<p>We own a portable, gas-powered/hand-operated diamond rock core drill (manufactured by Shaw Tool) which can be deployed by 1 to 2 people to remote project sites and can recover a variety of rock core specimens ranging from 25 to 51 mm in diameter.  This “backpack” drill has an effective core depth ranging from approximately 10 to 30 feet, depending upon the type and condition of the rock being cored.  Our backpack drill can be an effective bedrock exploration tool for projects where bedrock occurs at the ground surface, or very shallow subsurface (less than approx. five feet bgs).  We have used the 	backpack drill for a variety of geotechnical applications including (but not limited to):
			</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__specialty_exploration_method___backpack_img_1.jpg"/>
		</div>
	</div>
	<div class="row subPage md-flex md-flex-wrap">
		<div class="col-xs-12 col-md-6">
			<img src="/img/services_geotechnical_engineering__specialty_exploration_method___backpack_img_2.jpg"/>

		</div>
		<div class="col-xs-12 col-md-6">
			<ul>
				<li>Bedrock sampling for rock anchors (for towers, comm. shelters, foundations, etc.)</li>
				<li>Collecting core specimens from rip-rap and armor stone sources for strength and durability laboratory testing</li>
				<li>Coring concrete slabs for laboratory strength testing</li>
			</ul>
		</div>
	</div>
	<br/>
</div>	
</template>
