<template name="services_geotechnical_engineering__waterfront_design">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <p>Alaska’s varied coastline demands a variety of coastal structures to meet the local transportation needs. Not all sites are suitable for a curvilinear bulkhead system. Careful engineering and understanding of the cost, construction, and service needs of the site may result in pile supported docks, bulkhead systems, combi-wall systems, or submerged ramps with mooring dolphins. Our service to the client starts with clean slate and develops through communication to understand the purpose of the development, potential expansion, and financial means for successful construction.</p>
            </div>
        </div>
        <br/>
    </div>
</template>

<template name="services_geotechnical_engineering__waterfront_design___sheet">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <p>The successful design and construction of a sheet pile bulkhead in a marine environment requires careful consideration of a wide range of variables including but not limited to; water depth,  tidal fluctuation, ice forces, ship draft, soil conditions, bed rock conditions, corrosion considerations, site access, etc. Because of the wide range of design and construction variables, no single sheet piling system is applicable to every site. We have a proven record of evaluating site conditions and developing appropriate sheet pile designs for marine applications across the State of Alaska. We employ a variety of site evaluation methods in developing sheet pile bulkhead designs including on-shore drilling, off-shore drilling, and geophysics. We have successfully designed and coordinated the construction of several sheet pile bulkheads in very remote Alaskan locations with harsh weather conditions such as the infamous Aleutian Islands.</p>
            </div>
        </div>
        <br/>
    </div>
</template>

<template name="services_geotechnical_engineering__waterfront_design___mooring">
    <div class="container subPage">
        <div class="row subPage md-flex md-flex-wrap">
            <div class="col-xs-12 col-md-12">
                <p>Mooring dolphins are subjected large lateral loads from ships caused by impact, wind and wave action, and even ice. A mooring dolphin failure can be catastrophic especially during inclement weather. A detailed understand of subsurface conditions, local weather conditions, anticipated ship usage, tidal variations, etc. is crucial to the design and construction of functional mooring dolphins. We make sure to collect the site information required to design and construct dolphins that can stand the test of time in Alaska’s harsh marine environment. We tailor or designs to make use of available equipment without sacrificing functionality.</p>
            </div>
        </div>
        <br/>
    </div>
</template>
